.home-main {
  padding-top: 12px;
  .mini-banners-cont {
    display: flex;
    justify-content: space-between;
    margin-top: 6px;
    margin-bottom: 50px;
    .one-ban {
      width: calc( 25% - 4px );
      img {
        display: block;
        width: 100%;
      }
    }
  }
  .tabs-controll {
    box-shadow: 0px 0px 18px 3px rgba(89,89,89,0.15);
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 28px;
    margin-bottom: 40px;
    .tabs-nav {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    .tit {
      font-size: 18px;
      color: #252525;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.5px;
      margin-bottom: 18px;
      span {
        color: #747474;
      }
    }
    .left-p {
      flex-grow: 1;
    }
    .tabs-nav {
      display: flex;
    }
    .read-more {
      color: #0dac49;
      font-size: 13px;
      text-decoration: none;
      letter-spacing: -0.6px;
      margin-top: 19px;
      &:after {
        content: "";
        display: inline-block;
        width: 21px;
        height: 10px;
        margin-left: 7px;
        background-image: url('../img/icons/green-arrow.svg');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
    .tabs-nav {
      li {
        margin-right: 27px;
        height: 41px;
        border-bottom: 4px solid transparent;
        &.active {
          border-bottom: 4px solid #0DAC49;
          a {
            color: #252525;
          }
        }
        &:last-child {
          margin-right: 0;
        }
      }
      a {
        text-decoration: none;
        color: #747474;
        font-size: 12px;
        text-transform: uppercase;
      }
    }
  }
}