#show-on-map {
  width: 970px;
  padding: 0;
  border-radius: 0;
  height: 500px;
  max-width: 970px;
  box-shadow: 0px 0px 16px 4px rgba(73, 73, 73, 0.35);
  .flex {
    display: flex;
    height: 100%;
  }
  .map-wrap {
    height: 500px;
    width: calc( 100% - 370px );
  }
  #modal-map {
    height: 100%;
    * {
      overflow:visible;
    }
  }
  .places-list {
    padding: 15px 0;
    width: 370px;
  }
  .marker-list {
    max-height: 100%;
    overflow: auto;
  }
  .one-place {
    position: relative;
    padding: 21px 20px 20px;
    border-bottom: 1px solid #EBEEF0;
    &.open {
      .open-arrow {
        &:before {
          transform: rotateX(-180deg) translate(-50%,-50%);
        }
      }
    }
    .jq-checkbox {
      margin-top: 2px;
    }
  }
  .address {
    font-size: 13px;
    line-height: 16px;
    color: #252525;
    width: 280px;
    position: relative;
    font-weight: 700;
    display: flex;
    .jq-checkbox {
      min-width: 18px;
      margin-right: 7px;
    }
  }
  .open-hours {
    color: #747474;
    font-size: 13px;
    padding-left: 24px;
    padding-top: 15px;
    display: none;
  }
  .open-arrow {
    position: absolute;
    right: 0;
    top: 27px;
    width: 20px;
    height: 20px;
    text-decoration: none;
    &:before {
      position: absolute;
      left: 50%;
      top: 50%;
      transition: all .2s ease-out;
      transform-origin: 0 0;
      transform: rotateX(0) translate(-50%,-50%);
      content: "\f107";
      font-size: 15px;
      font-family: FontAwesome;
      color: #7F7F7F;
    }
  }
  .close-modal {
    width: 36px;
    height: 36px;
    border-radius: 18px;
    background: #FFFFFF;
    background-image: none;
    top: 10px;
    right: 10px;
    &:before {
      content: "";
      width: 13px;
      height: 13px;
      background-image: url('../img/icons/close.png');
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
  }
}