.product-main {
  overflow: hidden;
  h1 {
    font-size: 24px;
    color: #252525;
    text-transform: uppercase;
    margin: 28px 0 2px 0;
  }
  .tablet-back {
    display: none;
  }
  .rate-rev {
    display: inline-flex;
    align-items: center;
    .fa-star {
      font-size: 13px;
      margin-right: 2px;
      color: #747474;
    }
    .yell {
      color: #FACF08;
    }
    .rate {
      margin-right: 7px;
    }
    .count {
      font-size: 12px;
      color: #747474;
      margin-right: 20px;
      cursor: pointer;
    }
    .rev {
      font-size: 12px;
      color: #252525;
    }
  }
  .computer-lenses {
    border: 1px solid #DADBDC;
    display: flex;
    align-items: center;
    padding-left: 28px;
    padding-top: 8px;
    padding-bottom: 12px;
    margin-bottom: 24px;
    width: 490px;
    margin-left: auto;
    margin-right: auto;
    .left-price {
      display: flex;
      align-items: center;
      flex-grow: 1;
    }
    .comp-price {
      display: flex;
      justify-content: center;
      width: 110px;
      font-size: 15px;
      font-weight: 700;
    }
    .js-add-lenses {
      color: #0dac49;
      font-size: 13px;
      text-decoration: none;
      border-bottom: 1px dashed #0dac49;
      transition: all 0.15s ease;
      display: inline-block;
      &:hover {
        border-bottom: 1px dashed transparent;
      }
    }
    .man {
      color: #737373;
      font-size: 12px;
      margin-top: -2px;
    }
    .jq-checkbox {
      margin-right: 12px;
    }
  }
  .prod-cont {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 55px;
  }
  .img-char {
    width: 347px;
  }
  .prod-img-cont {
    height: 230px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 20px;
    img {
      display: block;
      max-height: 100%;
      max-width: 100%;
    }
    .sticker-place {
      position: absolute;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      top: 0;
      left: 0;
      .sticker {
        height: 32px;
        font-size: 15px;
        border-radius: 16px;
        padding-left: 23px;
        padding-right: 23px;
      }
    }
  }
  .color-select {
    display: flex;
    flex-wrap: wrap;
    & > a {
      border: 6px solid #FFFFFF;
      width: 28px;
      height: 28px;
      border-radius: 14px;
      box-shadow: 0px 2px 5px 0px rgba(139,146,152,0);
      transition: all 0.1s ease;
      &:hover {
        position: relative;
        z-index: 1;
        box-shadow: 0px 2px 5px 0px rgba(139,146,152,0.66);
      }
    }
  }
  .color-title {
    font-size: 13px;
    color: #252525;
    font-weight: 700;
    margin-bottom: 5px;
  }
  .eye-setting {
    width: 470px;
    .tab-cont {
      border: 1px solid #DADBDC;
      margin-bottom: 20px;
    }
    .tabs-nav {
      margin: 0;
      padding-left: 0;
      list-style: none;
      display: flex;
      width: 100%;
      li {
        width: 50%;
        height: 52px;
        border-bottom: 1px solid #DADBDC;
        &.active {
          border-bottom: 1px solid #0DAC49;
          a {
            color: #252525;
            border-bottom: 3px solid #0DAC49;
          }
        }
      }
      a {
        text-decoration: none;
        color: #747474;
        text-transform: uppercase;
        font-size: 13px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        font-weight: 700;
        height: 100%;
        border-bottom: 3px solid transparent;
      }
    }
    .tab-content {
      h5 {
        font-size: 13px;
        font-weight: 700;
        color: #252525;
        margin: 0 0 10px 0;
        width: 100%;
      }
      .one-eye-sel {
        display: flex;
        flex-wrap: wrap;
        padding: 17px 15px 0px 29px;
        &:last-child {
          padding: 17px 15px 17px 29px;
        }
      }
      .sel-wtap {
        margin-right: 15px;
        &:last-child {
          margin-right: 0;
        }
      }
      .label {
        color: #747474;
        font-size: 12px;
        margin-bottom: 10px;
      }
      .jq-selectbox {
        width: 100%;
      }
      .jq-selectbox__select {
        min-width: 0;
        border-radius: 4px;
        height: 29px;
      }
      .jq-selectbox__select-text {
        line-height: 29px;
        font-size: 12px;
        padding-left: 10px;
      }
      .jq-selectbox__trigger-arrow {
        &:before {
          margin-top: -7px;
          right: 2px;
        }
      }
      .jq-selectbox__dropdown {
        ul {
          padding-left: 15px;
        }
      }
    }
  }
  .del-price {
    width: 306px;
    border: 1px solid #EBEEF0;
    padding: 20px 25px 20px 25px;
    .ven-code {
      font-size: 12px;
      color: #747474;
      margin-bottom: 9px;
    }
    .prod-price {
      font-size: 28px;
      color: #252525;
      font-weight: 700;
      margin-bottom: 3px;
    }
    .aft-price {
      font-size: 12px;
      color: #747474;
      margin-bottom: 14px;
    }
    .add-to-wish {
      width: 32px;
      height: 32px;
      background-image: url(../img/icons/wishlist.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain
    }
    .btn {
      margin-right: 15px;
      height: 42px;
      width: 180px;
    }
    .price-ctrl-wrap {
      display: flex;
      align-items: center;
      margin-bottom: 7px;
    }
    .one-click {
      text-decoration: none;
      border-bottom: 1px dashed #0DAC49;
      display: inline-block;
      font-size: 13px;
      transition: all 0.15s ease;
      cursor: pointer;
      margin-left: 28px;
      &:hover {
        border-bottom: 1px dashed transparent;
      }
    }
    .top-part {
      padding-bottom: 15px;
      border-bottom: 1px solid #EBEEF0;
    }
    .bot-part {
      padding-top: 10px;
      & > div {
        margin-bottom: 16px;
      }
      h4 {
        font-size: 15px;
        margin: 5px 0;
      }
      p {
        margin: 0;
        font-size: 13px;
        line-height: 16px;
      }
      .std-dropdown {
        position: relative;
        display: inline-block;
      }
      .std-dropdown-list {
        min-width: 180px;
        max-height: 160px;
        padding: 10px 0 10px 15px;
      }
      .std-dropdown-link {
        font-size: 15px;
        text-decoration: none;
        border-bottom: 1px dashed #0dac49;
        &.open {
          &:after {
            top: 50%;
            transform: rotateX(-180deg) translateY(-50%);
          }
        }
        &:after {
          content: "\f107";
          position: absolute;
          top: 54%;
          right: -14px;
          transform-origin: 0 0;
          transform: translateY(-50%);
          font-family: FontAwesome;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 10px;
          height: 15px;
        }
      }
      .js-view-on-map {
        text-decoration: none;
        font-size: 13px;
        color: #0dac49;
        border-bottom: 1px dashed #0dac49;
        transition: border-bottom .15s ease-in;
        position: relative;
        margin-left: 12px;
        cursor: pointer;
        &:before {
          content: "\f041";
          font-size: 15px;
          font-family: FontAwesome;
          position: absolute;
          left: -12px;
          top: 50%;
          transform: translateY(-50%);
        }
        &:after {
          content: "\f105";
          font-size: 15px;
          font-family: FontAwesome;
          position: absolute;
          right: -9px;
          top: 60%;
          transform: translateY(-50%);
        }
      }
    }
  }
  .char-table-wrap {
    table {
      width: 100%;
      font-size: 13px;
      color: #747474;
    }
    td {
      padding: 3px 0;
      &:first-child {
        width: 200px;
        padding-right: 5px;
      }
      &:last-child {
        color: #252525;
      }
    }
    &.open {
      .js-show-table {
        &:after {
          top: 65%;
          transform: rotateX(180deg) translateY(-50%);
        }
      }
    }
    .js-show-table {
      text-decoration: none;
      border-bottom: 1px dashed #0dac49;
      display: inline-block;
      margin-top: 7px;
      cursor: pointer;
      transition: all 0.15s ease-out;
      position: relative;
      overflow: visible;
      &:after {
        content: "\f107";
        position: absolute;
        font-family: FontAwesome;
        font-size: 14px;
        right: -15px;
        top: 50%;
        transform-origin: 0 0;
        transform: translateY(-50%);
        padding-top: 2px;
      }
      &:hover {
        border-bottom: 1px dashed transparent;
      }
    }
  }
  .box-sel {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      border: 1px solid #DADBDC;
      border-bottom: 1px solid transparent;
      box-shadow: 0px 0px 10px 0px rgba(64,64,64,0);
      transition: all 0.15s ease-out;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-right: 30px;
      &:last-child {
        border-bottom: 1px solid #DADBDC;
      }
      &.selected {
        position: relative;
        z-index: 2;
        border: 1px solid transparent;
        box-shadow: 0px 0px 10px 0px rgba(64,64,64,0.25);
        .jq-number {
          display: flex;
        }
        .price {
          color: #252525;
        }
        .descr {
          & > div {
            font-weight: 700;
          }
        }
      }
    }
    .jq-radio {
      width: 18px;
      height: 18px;
      border-radius: 9px;
      margin-right: 14px;
    }
    .jq-radio__div {
      width: 9px;
      height: 9px;
    }
    label {
      display: flex;
      align-items: center;
      padding-left: 30px;
      padding-top: 11px;
      padding-bottom: 11px;
      cursor: pointer;
      width: 100%;
    }
    .descr {
      font-size: 13px;
      color: #252525;
      width: 170px;
      & > div {
        span {
          margin-left: 3px;
        }
      }
      & > span {
        font-size: 12px;
        color: #747474;
      }
      .red {
        color: #f50c53;
      }
    }
    .price {
      font-size: 15px;
      font-weight: 700;
      color: #747474;
      .mobile {
        display: none;
      }
    }
    input[type="number"]{
      border: none;
      outline: none;
      width: 25px;
      text-align: center;
      display: block;
      height: 30px;
    }
    .jq-number {
      border: 1px solid #DADBDC;
      border-radius: 3px;
      transition: all 0.15s ease-out;
      display: none;
      &:hover {
        border: 1px solid #727272;
      }
    }
    .jq-number__spin {
      width: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      &.minus {
        order: 1;
        &:before {
          content: "-";
        }
      }
      &.plus {
        order: 3;
        &:before {
          content: "+";
        }
      }
    }
    .jq-number__field {
      order: 2;
    }
  }
  .other-prod-slider {
    .tabs-nav-wrap {
      border-radius: 2px;
      box-shadow: 0 0 18px 3px rgba(89,89,89,.15);
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 30px 0 25px;
    }
    .tabs-nav {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      li {
        height: 67px;
        border-bottom: 4px solid transparent;
        display: flex;
        align-items: center;
        margin-right: 25px;
        transition: all 0.15s ease-out;
        &:last-child {
          margin-right: 0;
        }
        &.active {
          border-bottom: 4px solid #0DAC49;
          a {
            color: #252525;
          }
        }
      }
      a {
        color: #747474;
        font-size: 14px;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 700;
        transition: all 0.15s ease-out;
      }
    }
    .read-more {
      color: #0dac49;
      font-size: 13px;
      text-decoration: none;
      letter-spacing: -.6px;
      &:after {
        content: "";
        display: inline-block;
        height: 10px;
        margin-left: 7px;
        width: 21px;
        background-image: url(../img/icons/green-arrow.svg);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
    .one-lense {
      width: 270px;
      margin: 25px 11px;
      border: none;
      .one-lense-in {
        padding: 20px 14px 10px 20px;
      }
      .center {
        margin-top: 10px;
      }
      .img-cont {
        margin-bottom: 13px;
      }
      .lense-name {
        margin-bottom: 10px;
      }
      &:hover {
        position: relative;
        z-index: 2;
      }
    }
    .slick-list {
      margin-bottom: 83px;
    }
    .slick-dots {
      bottom: 65px
    }
  }
  .char-rev-cont {
    padding-top: 50px;
    padding-bottom: 95px;
    border-top: 1px solid #EBEEF0;
    .vert-tabs {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
    .tabs-nav {
      list-style: none;
      margin: 0;
      padding: 15px 0 29px 0;
      box-shadow: 0 0 18px 3px rgba(89,89,89,.15);
      width: 260px;
      li {
        padding: 0 20px 0 40px;
        height: 40px;
        display: flex;
        align-items: center;
        &.active {
          a {
            font-weight: 700;
            color: #252525;
          }
        }
      }
      a {
        text-decoration: none;
        text-transform: uppercase;
        font-size: 13px;
        color: #747474;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        &:after {
          content: "\f105";
          font-family: "FontAwesome";
          font-size: 16px;
        }
      }
    }
    .tabs-content {
      width: calc( 100% - 295px );
    }
    .plain-text {
      font-size: 13px;
      color: #252525;
      line-height: 24px;
      width: 725px;
      p {
        margin: 0;
      }
    }
    .reviews-cont {
      .rev-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #EBEEF0;
        padding-bottom: 19px;
        .count {
          color: #252525;
          font-size: 18px;
          text-transform: uppercase;
          font-weight: bold;
          span {
            color: #747474;
          }
        }
      }
      .btn {
        height: 40px;
        width: 215px;
      }
      .fa-star {
        font-size: 13px;
        margin-right: 1px;
        color: #747474;
      }
      .yell {
        color: #FACF08;
      }
      .reviews-wrap {
        padding-top: 25px;
      }
      .one-review {
        padding-top: 5px;
        margin-bottom: 19px;
        padding-bottom: 25px;
        border-bottom: 1px solid #EBEEF0;
        &:last-child {
          margin-bottom: 25px;
          border-bottom: none;
        }
      }
      .name-date {
        display: flex;
        margin-bottom: 12px;
        .name {
          color: #252525;
          font-size: 13px;
          font-weight: 700;
          margin-right: 13px;
        }
        .date {
          color: #747474;
          font-size: 12px;
        }
      }
      .rate {
        margin-bottom: 8px;
      }
      .rev-text {
        font-size: 13px;
        line-height: 24px;
        color: #252525;
      }
      .more {
        color: #0dac49;
        text-decoration: none;
        border-bottom: 1px dashed #0dac49;
        transition: all 0.15s ease;
        &:hover {
          border-bottom: 1px dashed transparent;
        }
      }
    }
    .questions-cont {
      .one-question {
        margin-bottom: 14px;
      }
      .one-quest {
        padding-top: 24px;
        border-top: 1px solid #F7F8F9;
        padding-bottom: 28px;
      }
      .quest-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #EBEEF0;
        padding-bottom: 19px;
        .count {
          color: #252525;
          font-size: 18px;
          text-transform: uppercase;
          font-weight: bold;
          span {
            color: #747474;
          }
        }
      }
      .btn {
        height: 40px;
        width: 215px;
      }
      .date-name {
        display: flex;
        margin-bottom: 15px;
        .name {
          font-size: 15px;
          color: #252525;
          font-weight: 700;
          margin-right: 13px;
        }
        .date {
          font-size: 12px;
          color: #a9a8a8;
        }
      }
      .quest-text {
        font-size: 13px;
      }
      .date-admin {
        display: flex;
        align-items: center;
        margin-bottom: 7px;
        .admin {
          font-size: 13px;
          color: #0dac49;
          font-weight: 700;
          margin-right: 12px;
          &:before {
            content: "";
            width: 6px;
            height: 6px;
            border-radius: 3px;
            background: #0DAC49;
            display: inline-block;
            margin-right: 10px;
          }
        }
        .date {
          color: #a9a8a8;
          font-size: 12px;
        }
      }
      .answ-text {
        font-size: 13px;
        line-height: 18px;
        color: #252525;
      }
      .one-answer {
        padding: 18px 60px 21px 38px;
        border-radius: 30px;
        box-shadow: 1px 1px 10px 2px rgba(64,64,64,0.14);
        margin-left: 67px;
      }
    }
    .char-table {
      width: 100%;
      font-size: 13px;
      border-collapse: collapse;
      tr {
        border-bottom: 1px solid #EBEEF0;
        &:first-child {
          border-top: 1px solid #EBEEF0;
        }
      }
      td {
        color: #252525;
        padding: 10px 0;
        &:first-child {
          color: #747474;
          width: 295px;
          padding-left: 18px;
        }
      }
    }
  }
  .mobile-char-cont {
    display: none;
  }
  .glass-slider {
    width: calc( 100% + 500px );
    margin-left: -250px;
    padding-bottom: 20px;
    margin-bottom: 24px;
    .glass-item {
      height: 280px;
      width: 700px;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: visible;
      outline: none;
      img {
        display: block;
        max-width: 100%;
        max-height: 100%;
        height: auto;
        width: auto;
        margin: 0 auto;
        opacity: 0.26;
        transition: all 0.2s ease-out;
      }
    }
    .slick-current {
      img {
        opacity: 1;
        transform: scale(1.4);
      }
    }
    .slick-arrow {
      width: 42px;
      height: 42px;
      background: rgba(234,237,241,0.5);
      border-radius: 50%;
      font-size: 0;
      position: absolute;
      top: 50%;
      border: none;
      z-index: 2;
      transition: all 0.2s ease-out;
      cursor: pointer;
      outline: none;
      &:hover {
        background: rgba(234,237,241,1);
      }
      &:after {
        content: "";
        width: 16px;
        height: 9px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
    .slick-next {
      right: calc( 50% - 315px );
      transform: translate(50%,-50%);
      &:after {
        background-image: url('../img/icons/gray-right-arrow.svg');
      }
    }
    .slick-prev {
      left: calc( 50% - 315px );
      transform: translate(-50%,-50%);
      &:after {
        background-image: url('../img/icons/gray-left-arrow.svg');
      }
    }
    .fa-angle-left {
      left: calc( 50% + 315px );
    }
    .fa-angle-right {
      right: calc( 50% + 315px );
    }
    .slick-dots {
      display: flex;
    }
    .slick-dots {
      display: flex;
      justify-content: center;
      padding: 0;
      margin: 0;
      list-style: none;
      position: absolute;
      bottom: 0px;
      left: 50%;
      transform: translateX(-50%);
      li {
        border: 1px solid #7B7B7B;
        width: 7px;
        height: 7px;
        overflow: hidden;
        border-radius: 5px;
        margin-right: 14px;
        cursor: pointer;
        &.slick-active {
          border: 1px solid #0DAC49;
          background: #0DAC49;
        }
        &:last-child {
          margin-right: 0;
        }
      }
      button {
        opacity: 0;
      }
    }
  }
  .rate-code {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    .vendor-code {
      font-size: 12px;
      background: #F6F6F6;
      height: 33px;
      display: flex;
      align-items: center;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  .glass-prod-cont {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
    .sticker {
      position: absolute;
      left: calc( 50% - 585px );
      top: 20px;
      height: 38px;
      color: #252525;
      font-size: 17px;
      border-radius: 19px;
      padding-left: 26px;
      padding-right: 26px;
      font-weight: 400;
    }
  }
  .bot-wrap-glass {
    display: flex;
    justify-content: space-between;
    width: 100%;
    .char-table-wrap {
      width: 270px;
    }
    .center-glass-cont {
      width: 570px;

    }
    .prod-name {
      font-size: 22px;
      color: #252525;
      text-align: center;
      margin-bottom: 5px;
    }
    .prod-price {
      font-size: 28px;
      font-weight: 700;
      text-align: center;
      margin-bottom: 16px;
    }
    .prod-ctrl {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      .buy-one-click {
        position: absolute;
        left: 70px;
        color: #0dac49;
        text-decoration: none;
        border-bottom: 1px dashed #0dac49;
        top: calc( 100% + 11px );
      }
      .btn {
        height: 52px;
        border-radius: 26px;
        margin-right: 14px;
        box-shadow: 0px 3px 5px 0px rgba(64,64,64,0.32);
      }
      .btn-dray {
        width: 250px;
        height: 52px;
        font-size: 14px;
        white-space: nowrap;
        margin-right: 14px;
        box-shadow: 0px 3px 5px 0px rgba(64,64,64,0.32);
        &:before {
          content: "\f00c";
          font-size: 14px;
          font-family: 'FontAwesome';
          margin-right: 5px;
        }
      }
      .add-wishlist {
        width: 32px;
        height: 30px;
        font-size: 0;
        background-image: url(../img/icons/wishlist.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }

    .bot-part {
      padding-top: 10px;
      width: 270px;
      & > div {
        margin-bottom: 16px;
      }
      h4 {
        font-size: 15px;
        margin: 5px 0;
      }
      p {
        margin: 0;
        font-size: 13px;
        line-height: 16px;
      }
      .std-dropdown {
        position: relative;
        display: inline-block;
      }
      .std-dropdown-list {
        min-width: 180px;
        max-height: 160px;
        padding: 10px 0 10px 15px;
      }
      .std-dropdown-link {
        font-size: 15px;
        text-decoration: none;
        border-bottom: 1px dashed #0dac49;
        &.open {
          &:after {
            top: 50%;
            transform: rotateX(-180deg) translateY(-50%);
          }
        }
        &:after {
          content: "\f107";
          position: absolute;
          top: 54%;
          right: -14px;
          transform-origin: 0 0;
          transform: translateY(-50%);
          font-family: FontAwesome;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 10px;
          height: 15px;
        }
      }
      .js-view-on-map {
        text-decoration: none;
        font-size: 13px;
        color: #0dac49;
        border-bottom: 1px dashed #0dac49;
        transition: border-bottom .15s ease-in;
        position: relative;
        margin-left: 12px;
        cursor: pointer;
        &:before {
          content: "\f041";
          font-size: 15px;
          font-family: FontAwesome;
          position: absolute;
          left: -12px;
          top: 50%;
          transform: translateY(-50%);
        }
        &:after {
          content: "\f105";
          font-size: 15px;
          font-family: FontAwesome;
          position: absolute;
          right: -9px;
          top: 60%;
          transform: translateY(-50%);
        }
      }
    }
  }
  .brands-product {
    padding-top: 40px;
    border-top: 1px solid #EBEEF0;
    .view-title {
      font-size: 18px;
      margin: 0;
      text-transform: uppercase;
    }
    .s-between {
      justify-content: space-between;
      align-items: center;
    }
    .read-more {
      color: #0dac49;
      font-size: 13px;
      text-decoration: none;
      letter-spacing: -.6px;
      &:after {
        content: "";
        display: inline-block;
        width: 21px;
        height: 10px;
        margin-left: 7px;
        background-image: url(../img/icons/green-arrow.svg);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }
  .prod-viewed {
    border-top: none;
  }
  .mobile-rate {
    display: none;
  }
  .descr-ban {
    height: 210px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 35px;
    h3 {
      font-size: 18px;
      margin: 0 0 17px 0;
      width: 340px;
    }
    .descr-text {
      width: 515px;
      font-size: 13px;
      line-height: 22px;
    }
    .read-more {

    }
  }
}
.product-glass {
  .char-rev-cont {
    border-top: none;
  }
}