@media (max-width: 1200px) {
  .container {
    width: 950px;
  }
  .max1200 {
    display: block;
  }
  header {
    .top-menu {
      &>li {
        margin: 0;
        a {
          font-size: 10px;
          padding: 4px 7px;
        }
      }
    }
    .right-part {
      .has-dropdown {
        padding-right: 19px;
        margin-right: 7px;
        &>a {
          font-size: 10px;
        }
      }
    }
    .search-input {
      width: 260px;
      height: 40px;
    }
    .logo {
      min-width: 150px;
      margin-right: 25px;
    }
    .search-wrap {
      margin-right: 25px;
    }
    .request-call {
      margin-right: 25px;
      .tel {
        font-size: 14px;
      }
      .js-req-call {
        font-size: 11px;
      }
    }
    .wishlist {
      margin-right: 25px;
    }
    .basket {
      margin-right: 25px;
    }
    .middle-stripe {
      height: 80px;
      padding: 20px 0;
    }
    .bot-stripe {
      .menu>li {
        height: 45px;
        &>a {
          font-size: 12px;
        }
      }
    }
  }
  .product-slider {
    .one-prod {
      width: 232px;
    }
  }
  .one-prod {
    .one-prod-in {
      padding: 20px 15px 20px;
    }
    .prod-name {
      line-height: 18px;
      font-size: 14px;
      height: 30px;
    }
    .old-price {
      font-size: 14px;
      margin-right: 8px;
    }
    .new-price {
      font-size: 14px;
    }
    .price {
      font-size: 14px;
    }
    .img-cont {
      height: 145px;
    }
    .btn {
      width: 130px;
      height: 35px;
    }
  }
  .product-slider {
    .slick-list {
      margin-bottom: 70px;
    }
  }
  .page {
    .one-news {
      width: 222px;
      margin: 0 10px;
      .title {
        font-size: 14px;
        line-height: 18px;
      }
    }
  }
  .home-main {
    .questions-to-doctors {
      padding-top: 35px;
      padding-bottom: 35px;
    }
  }
  footer {
    .subscribe {
      height: 110px;
    }
    .subscribe-text {
      font-size: 16px;
      line-height: normal;
    }
    .subscribe-form {
      .btn {
        padding: 0 25px;
      }
    }
    .subscribe-in {
      width: 260px;
      padding-left: 60px;
    }
    .subscribe-in-wrap {
      &:before {
        left: 32px;
      }
    }
  }
  .catalog-main {
    .left-side {
      width: 240px;
      margin-right: 20px;
    }
    .products-wrap {
      width: calc(100% - 260px);
    }
  }
  .page {
    .map-search-cont {
      .right-city {
        display: none;
      }
      .tabs-controll {
        .tabs-nav {
          li {
            height: 37px;
          }
        }
      }
      .title {
        margin-bottom: 15px;
      }
      .max1200 {
        display: inline-block;
        .jq-selectbox__select {
          height: auto;
          border: none;
          width: auto;
          min-width: 0;
        }
        .jq-selectbox__trigger {
          position: static;
          width: auto;
        }
        .jq-selectbox__select-text {
          font-size: inherit;
          line-height: 12px;
          padding-left: 5px;
          color: #0dac49;
        }
        .jq-selectbox__trigger-arrow {
          &:before {
            right: 17px;
            margin-top: -6px;
            font-size: 18px;
            color: #0dac49;
            display: flex;
            align-items: center;
            justify-content: center;
            transform-origin: 50% 50%;
          }
        }
        .jq-selectbox__dropdown {
          width: 180px !important;
          top: 100% !important;
          ul {
            padding: 5px 0 5px 15px;
            text-transform: none;
            font-weight: 400;
          }
          li {
            height: 25px;
          }
        }
      }
    }
    .map-wrap {
      .marker-list {
        left: calc(50% - 477px);
      }
    }
  }
  .one-row-prod, .one-row-lense {
    .img-cont {
      min-width: 200px;
      max-width: 200px;
    }
    .prod-ctrl {
      padding-left: 14px;
    }
    .prod-chars {
      padding-left: 10px;
    }
  }
  .one-row-lense {
    height: auto;
    .prod-ctrl {
      width: 240px;
    }
    .img-slider-wrap {
      min-width: 210px;
      max-width: 210px;
    }
    .img-cont {
      min-width: 210px;
      max-width: 210px;
    }
    .prod-table {
      tr {
        display: flex;
        flex-direction: column;
      }
      td {
        &:first-child {
          width: 100%;
        }
        &:last-child {
          width: 100%;
        }
      }
    }
  }
  .product-main {
    .glass-prod-cont {
      .sticker {
        left: calc(50% - 475px);
      }
    }
    .img-char {
      width: 250px;
    }
    .eye-setting {
      width: 390px;
    }
    .del-price {
      width: 270px;
    }
    .box-sel {
      label {
        padding-left: 15px;
      }
      .jq-radio {
        margin-right: 7px;
      }
      li {
        padding-right: 15px;
      }
      .price {
        font-size: 14px;
      }
    }
    .other-prod-slider {
      .one-lense {
        width: 222px;
        margin: 20px 7px;
        .one-lense-in {
          padding: 20px 14px 10px 14px;
        }
      }
      .img-cont {
        height: 155px;
      }
    }
    .char-rev-cont {
      .plain-text {
        width: 100%;
      }
    }
    .prod-code-mobile {
      display: none;
    }
    .bot-wrap-glass {
      .prod-ctrl {
        .btn-dray {
          width: auto;
        }
        .buy-one-click {
          left: 30px;
        }
      }
    }
    .glass-slider {
      .glass-item {
        height: 260px;
      }
    }
    .descr-ban {
      height: 210px;
      .descr-text {
        width: 420px;
      }
      h3 {
        margin: 0 0 12px 0;
      }
    }
  }
  .about-main {
    .about-baner {
      height: 290px;
      .cont-part {
        margin-right: 35px;
        padding-top: 30px;
      }
    }
    .blocks-wrap {
      .one-block {
        height: 240px;
      }
      .our-services {
        width: 25%;
        h4 {
          font-size: 20px;
          line-height: normal;
        }
      }
      .diagnostics {
        h4 {
          font-size: 16px;
        }
        .red {
          font-size: 16px;
        }
        .img {
          width: 160px;
        }
      }
      .night {
        .b-title {
          font-size: 20px;
        }
      }
      .child-treatment {
        .b-title {
          font-size: 20px;
        }
      }
      .guarantee {
        padding-top: 25px;
        h4 {
          font-size: 20px;
        }
      }
      .repairs {
        padding-top: 25px;
        .half {
          padding-top: 0;
        }
        h4 {
          font-size: 20px;
          line-height: normal;
        }
      }
      .selection {
        padding-top: 25px;
        padding-left: 25px;
        padding-right: 25px;
        h4 {
          font-size: 20px;
          line-height: normal;
        }
        .img {
          margin-left: auto;
          margin-right: auto;
          width: 175px;
        }
      }
    }
    .ophthal {
      padding-top: 50px;
    }
    .we-care {
      margin-bottom: 50px;
      .advantages-wrap {
        .item {
          width: 290px;
        }
        h4 {
          font-size: 16px;
        }
      }
    }
    .ban-body {
      padding-top: 25px;
      .text-cont {
        width: 520px;
        margin-right: 30px;
      }
    }
    .after-ban {
      padding: 35px 0;
    }
    .brand-slider {
      .slick-list {
        &:before {
          width: calc(50vw - 480px);
          left: calc(480px - 50vw);
        }
      }
    }
  }

}