@media (max-width: 576px) {
  header {
    .logo {
      display: none;
    }
    .request-call {
      display: none;
    }
    .mobile-logo {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;
      background: #0DAC49;
      img {
        width: 136px;
      }
    }
    .middle-stripe {
      padding: 6px 0;
      height: 49px;
      .container {
        padding: 0 15px;
      }
    }
    .ja-open-menu {
      font-size: 26px;
      margin-right: 37px;
      flex-grow: 1;
    }
    .open-search-mobile {
      margin-right: 36px;
    }
    .basket {
      margin-right: 31px;
      .count {
        left: 14px;
        top: 4px;
      }
    }
    .dressing-room {
      .tit {
        letter-spacing: -1px;
      }
    }
    .wishlist {
      display: none;
    }
  }
  .container {
    width: 100%;
  }
  .home-main {
    & > .container {
      padding: 0;
    }
    .std-slider {
      display: none;
    }
    .mini-banners-cont {
      display: none;
    }
    .mobile-home-slider {
      display: block;
    }
    .tabs-controll {
      padding-top: 17px;
      padding-left: 17px;
      .tit {
        margin-bottom: 10px;
      }
      .read-more {
        display: none;
      }
      .tabs-nav {
        width: 100%;
        overflow-x: auto;
        -ms-overflow-style: none;
        overflow: -moz-scrollbars-none;
        &::-webkit-scrollbar {
          width: 0;
        }
        li {
          height: 38px;
          margin-right: 25px;
        }
        a {
          white-space: nowrap;
        }
      }
      .left-p {
        width: 100%;
      }
    }
    .news-cont {
      padding: 37px 15px 55px 15px;
      .read-more {
        display: none;
      }
      .slick-dots {
        bottom: -55px;
      }
      .container {
        padding: 0;
      }
    }
    .one-news {
      width: 212px;
      margin: 0 8px;
    }
    .map-search-cont {
      margin-top: 0;
      .tabs-controll>.flex {
        flex-direction: column;
      }
      .right-city {
        display: flex;
        width: calc(100% + 44px);
        margin-left: -17px;
        margin-right: -15px;
        border-left: none;
        padding-top: 0;
        padding-left: 0;
        .label {
          display: none;
        }
        .js-open-map {
          display: flex;
        }
      }
      .max1200 {
        display: none;
      }
      .jq-selectbox__select {
        border-radius: 0;
        height: 54px;
        min-width: 230px;
      }
      .js-open-map {
        background: #0DAC49;
        color: #FFFFFF;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        .fa {
          margin-right: 5px;
          font-size: 16px;
        }
      }
      .jq-selectbox__select-text {
        padding-left: 15px;
        font-size: 13px;
        line-height: 53px;
      }
      &.showmap {
        .marker-list {
          display: none;
        }
        #map {
          display: block;
        }
        .close-map {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          text-decoration: none;
          span {
            font-size: 11px;
            text-transform: uppercase;
            color: #252525;
            margin-right: 16px;
            &:after {
              content: "";
              display: inline-block;
              position: relative;
              top: 3px;
              margin-left: 5px;
              width: 15px;
              height: 15px;
              background-position: center;
              background-size: contain;
              background-repeat: no-repeat;
              background-image: url('../img/icons/delete.svg');
            }
          }
        }
        .addrss-cont {
          display: block;
          position: absolute;
          left: 50%;
          bottom: 90px;
          width: 290px;
          transform: translateX(-50%);
          background: #FFFFFF;
          padding: 20px 20px 20px 30px;
          box-shadow: 0 0 18px 3px rgba(64,64,64,.15);
          .address {
            font-weight: 700;
          }
        }
      }
    }
    .addrss-cont {
      display: none;
    }
    .map-wrap {
      .marker-list {
        position: static;
        margin: 0 auto;
        padding: 0;
        height: 330px;
        overflow: scroll;
      }
    }
    #map {
      display: none;
    }
    .close-map {
      display: none;
      border-bottom: 1px solid #CFD3D5;
      background: rgba(255,255,255,0.58);
      height: 51px;
      width: 100%;
      position: absolute;
      z-index: 2;
    }
    .max576 {
      display: block;
      .btn {
        margin-top: 20px;
        margin-bottom: 35px;
        margin-left: auto;
        margin-right: auto;
        width: 215px;
      }
    }
    .js-show-on-map {
      border-bottom: 1px dashed #0dac49;
      font-size: 12px;
      color: #0dac49;
      display: inline;
      transition: all 0.15s ease;
      text-decoration: none;
      &:hover {
        border-bottom: 1px dashed transparent;
      }
    }
  }
  .product-slider {
    &:before {
      height: 100%;
    }
    .slick-dots {
      bottom: 54px;
    }
    .slick-list {
      margin-bottom: 0px;
    }
  }
  .one-prod {
    width: 200px;
    .img-cont {
      height: 120px;
      margin: 0;
    }
  }
  .questions-to-doctors {
    display: none;
  }
  footer {
    .col-3 {
      width: 100%;
      padding-left: 15px;
    }
    .subscribe-text {
      width: 100%;
      text-align: center;
      font-size: 14px;
    }
    .subscribe-form {
      flex-direction: column;
      .subscribe-in {
        margin-left: 0;
        border-radius: 22px;
        width: 210px;
        padding-left: 34px;
        margin-bottom: 20px;
      }
      .subscribe-in-wrap {
        &:before {
          left: 10px;
          top: 13px;
        }
      }
      .btn {
        width: 210px;
        margin-left: 0;
      }
    }
    .fot-list {
      line-height: 28px;
    }
    .foot-links {
      .container {
        border-bottom: none;
        padding-bottom: 0;
      }
    }
    .copyright {
      .right-side {
        margin-bottom: 18px;
      }
      .left-side {
        justify-content: flex-start;
        margin-left: 15px;
        .markets {
          border-bottom: 1px solid #DEDFE0;
          padding-bottom: 30px;
          margin-bottom: 30px;
          justify-content: flex-start;
          padding-left: 0;
        }
        span {
          order: 3;
          text-align: left;
          padding-left: 0;
        }
        .img-cont {
          order: 2;
        }
      }
      .sense {
        margin-left: 15px;
        margin-right: auto;
      }
    }
  }
}