@media (max-width: 576px) {
  header {
    .logo {
      display: none;
    }
    .request-call {
      display: none;
    }
    .mobile-logo {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;
      background: #0DAC49;
      img {
        width: 136px;
      }
    }
    .middle-stripe {
      padding: 6px 0;
      height: 49px;
      .container {
        padding: 0 15px;
      }
    }
    .js-open-menu {
      font-size: 26px;
      margin-right: 37px;
      flex-grow: 1;
    }
    .open-search-mobile {
      margin-right: 36px;
    }
    .basket {
      margin-right: 31px;
      .count {
        left: 14px;
        top: 4px;
      }
    }
    .dressing-room {
      .tit {
        letter-spacing: -1px;
      }
    }
    .wishlist {
      display: none;
    }
  }
  .container {
    width: 100%;
  }
  .home-main {
    & > .container {
      padding: 0;
    }
    .std-slider {
      display: none;
    }
    .mini-banners-cont {
      display: none;
    }
    .mobile-home-slider {
      display: block;
    }
    .tabs-controll {
      padding-top: 17px;
      padding-left: 17px;
      .tit {
        margin-bottom: 10px;
      }
      .read-more {
        display: none;
      }
      .tabs-nav {
        width: 100%;
        overflow-x: auto;
        -ms-overflow-style: none;
        overflow: -moz-scrollbars-none;
        &::-webkit-scrollbar {
          width: 0;
        }
        li {
          height: 38px;
          margin-right: 25px;
        }
        a {
          white-space: nowrap;
        }
      }
      .left-p {
        width: 100%;
      }
    }
  }
  .product-slider {
    &:before {
      height: 100%;
    }
    .slick-dots {
      bottom: -10px;
    }
    .slick-list {
      margin-bottom: 0px;
    }
  }
  .one-prod {
    width: 200px;
    max-height: 230px;
    .img-cont {
      height: 120px;
      margin: 0;
    }
  }
  .questions-to-doctors {
    display: none;
  }
  footer {
    .col-3 {
      width: 100%;
      padding-left: 15px;
    }
    .subscribe-text {
      width: 100%;
      text-align: center;
      font-size: 14px;
    }
    .subscribe-form {
      flex-direction: column;
      .subscribe-in {
        margin-left: 0;
        border-radius: 22px;
        width: 210px;
        padding-left: 40px;
        margin-bottom: 20px;
      }
      .subscribe-in-wrap {
        &:before {
          left: 10px;
          top: 13px;
        }
      }
      .btn {
        width: 210px;
        margin-left: 0;
      }
    }
    .fot-list {
      line-height: 28px;
    }
    .foot-links {
      .container {
        border-bottom: none;
        padding-bottom: 0;
      }
    }
    .copyright {
      .right-side {
        margin-bottom: 18px;
      }
      .left-side {
        justify-content: flex-start;
        margin-left: 15px;
        .markets {
          border-bottom: 1px solid #DEDFE0;
          padding-bottom: 30px;
          margin-bottom: 30px;
          justify-content: flex-start;
          padding-left: 0;
        }
        span {
          order: 3;
          text-align: left;
          padding-left: 0;
        }
        .img-cont {
          order: 2;
        }
      }
      .sense {
        margin-left: 15px;
        margin-right: auto;
      }
    }
  }
  .page {
    .addrss-cont {
      display: none;
    }
    .map-wrap {
      .marker-list {
        position: static;
        margin: 0 auto;
        padding: 0 20px 0 20px;
        height: 290px;
        overflow: hidden;
        width: auto;
      }
      .one-place {
        padding: 21px 30px 22px;
      }
    }
    #map {
      display: none;
    }
    .close-map {
      display: none;
      border-bottom: 1px solid #CFD3D5;
      background: rgba(255,255,255,0.58);
      height: 51px;
      width: 100%;
      position: absolute;
      z-index: 2;
    }
    .max576 {
      display: block;
      .btn {
        margin-top: 20px;
        margin-bottom: 35px;
        margin-left: auto;
        margin-right: auto;
        width: 215px;
      }
    }
    .js-show-on-map {
      border-bottom: 1px dashed #0dac49;
      font-size: 12px;
      color: #0dac49;
      display: inline;
      transition: all 0.15s ease;
      text-decoration: none;
      &:hover {
        border-bottom: 1px dashed transparent;
      }
    }
    .map-search-cont {
      margin-top: 0;
      .tabs-controll>.flex {
        flex-direction: column;
      }
      .tabs-controll {
        padding-left: 17px;
      }
      .right-city {
        display: flex;
        width: calc(100% + 44px);
        margin-left: -17px;
        margin-right: -15px;
        border-left: none;
        padding-top: 0;
        padding-left: 0;
        .label {
          display: none;
        }
        .js-open-map {
          display: flex;
        }
      }
      .max1200 {
        display: none;
      }
      .jq-selectbox__select {
        border-radius: 0;
        height: 54px;
        min-width: 230px;
      }
      .js-open-map {
        background: #0DAC49;
        color: #FFFFFF;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 95px;
        .fa {
          margin-right: 5px;
          font-size: 16px;
        }
      }
      .jq-selectbox {
        width: calc( 100% - 123px);
      }
      .jq-selectbox__select-text {
        padding-left: 15px;
        font-size: 13px;
        line-height: 53px;
      }
      &.showmap {
        .marker-list {
          display: none;
        }
        #map {
          display: block;
        }
        .close-map {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          text-decoration: none;
          span {
            font-size: 11px;
            text-transform: uppercase;
            color: #252525;
            margin-right: 16px;
            &:after {
              content: "";
              display: inline-block;
              position: relative;
              top: 3px;
              margin-left: 5px;
              width: 15px;
              height: 15px;
              background-position: center;
              background-size: contain;
              background-repeat: no-repeat;
              background-image: url('../img/icons/delete.svg');
            }
          }
        }
        .addrss-cont {
          display: block;
          position: absolute;
          left: 50%;
          bottom: 20px;
          width: 290px;
          transform: translateX(-50%);
          background: #FFFFFF;
          padding: 20px 20px 20px 30px;
          box-shadow: 0 0 18px 3px rgba(64,64,64,.15);
          .address {
            font-weight: 700;
          }
        }
      }
    }
    .news-cont {
      padding: 37px 15px 55px 15px;
      .read-more {
        display: none;
      }
      .slick-dots {
        bottom: -55px;
      }
      .container {
        padding: 0;
      }
    }
    .one-news {
      width: 212px;
      margin: 0 8px;
    }
  }
  .catalog-main {
    .title {
      margin: 7px 0 17px;
    }
    & > .container {
      padding: 0 15px;
    }
    .mobile-ctrl-block {
      flex-direction: column;
      box-shadow: none;
      align-items: flex-start;
      padding: 0;
      margin-bottom: 20px;
      .right-part {
        width: 100%;
        justify-content: space-between;
      }
      .js-open-filters {
        width: 100%;
        margin-bottom: 20px;
      }
      .std-dropdown-link {
        width: 200px;
      }
      .cat-type {
        &:before {
          display: none;
        }
        a {
          width: 40px;
          height: 40px;
          background: #FFFFFF;
          border-radius: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 0;
          &.active {
            z-index: 2;
            box-shadow: 0px 2px 8px 0px rgba(64,64,64,0.2);
          }
        }
        .fa-th {
          &:before {
            content: "\f009";
          }
        }
      }
    }
    .prod-tiles-cont {
      justify-content: center;
      .one-prod {
        width: 50%;
        max-height: 170px;
        margin-left: 0;
        margin-top: 0;
        &:nth-child(n+2) {
          margin-top: -1px;
        }
        &:nth-child(2n) {
          margin-left: -1px;
        }
        .prod-name {
          line-height: 16px;
          font-size: 12px;
          margin-bottom: 4px;
        }
        .sticker-place {
          display: none;
        }
        .old-price {
          font-size: 13px;
        }
        .price {
          font-size: 13px;
        }
        .new-price {
          font-size: 13px;
        }
        .price-wrap {
          margin-bottom: 4px;
        }
        .one-prod-in {
          padding: 10px 10px 10px;
        }
        .img-cont {
          height: 88px;
        }
        .m17 {
          opacity: 0;
          margin-bottom: 10px;
        }
        &:hover {
          .m17 {
            opacity: 1;
          }
        }
      }
    }
    .load-more {
      margin-top: 43px;
      margin-bottom: 20px;
    }
    .prod-viewed {
      padding-top: 32px;
      &>.container {
        padding: 0 15px;
      }
    }
    .view-all-prod {
      display: none;
    }
    .b-cat {
      img {
        display: none;
      }
      .img-mobile {
        display: block;
      }
    }
    .typeset-ban {
      padding: 33px 7px 25px 7px;
      line-height: 18px;
      h4 {
        text-align: center;
        font-size: 16px;
        margin-bottom: 19px;
      }
      .after-title {
        text-align: center;
        font-size: 13px;
        line-height: 18px;
        margin-bottom: 13px;
      }
      .links {
        text-align: center;
        a {
          margin-right: 0;
          display: inline-block;
          white-space: nowrap;
          margin-bottom: 10px;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
  .pagination {
    font-size: 14px;
    li {
      width: 29px;
      background: transparent !important;
      margin-right: 0;
      &.active {
        color: #0dac49;
        font-weight: 700;
      }
    }
    a {
      &:hover {
        background: transparent !important;
      }
    }
  }
  .one-row-lense {
    .one-row-prod-in {
      padding: 8px 15px 15px 15px;
    }
    .colors-img-cont {
      height: 178px;
      padding-top: 10px;
    }
    .img-cont {
      padding-top: 10px;
      height: 178px;
    }
    .lenses-buy {
      margin-top: -4px;
      margin-bottom: 0;
      table {
        min-height: 0;
      }
      td {
        padding: 9px 0;
      }
    }
    .m17 {
      display: none;
    }
    .ctrl-block {
      margin-top: 7px;
    }
    .btn {
      width: 190px;
      margin-right: 20px;
    }
    .in-stock.mobile {
      display: block;
      position: absolute;
      top: 17px;
      right: 0;
      &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 2px;
        transform: translateY(-50%);
        width: 6px;
        height: 6px;
        border-radius: 3px;
        background: #0DAC49;
      }
    }
  }
  .typeset-ban {
    width: 285px;
    margin: 0 auto;
  }
  .one-lense {
    max-height: 195px;
    &:hover {
      opacity: 1;
      .one-lense-in {
        box-shadow: 0 0 15px 4px rgba(73,73,73,.35) !important;
      }
    }
    .hover-price-var {
      display: none;
    }
    .price-var {
      display: table;
    }
    .one-lense-in {
      padding: 5px;
    }
    .img-cont {
      height: 100px;
      img {
        max-width: 80%;
      }
    }
    .lense-name {
      font-size: 13px;
      margin-bottom: 15px;
    }
    table {
      td {
        padding: 0;
        &:first-child {
          font-size: 11px;
        }
        &:last-child {
          font-size: 11px;
        }
        span {
          display: none;
        }
      }
    }
    .ctrl-block {
      opacity: 0;
    }
    .btn {
      height: 30px;
      font-size: 10px;
      width: 80px;
    }
    .add-to-wish {
      width: 28px;
      height: 28px;
    }
    .jq-radio {
      width: 11px;
      height: 11px;
      .jq-radio__div {
        width: 6px;
        height: 6px;
      }
    }
  }
  .product-main {
    & > .container {
      padding: 0 0;
    }
    .tablet-back {
      margin-left: 14px;
    }
    h1 {
      font-size: 16px;
      line-height: 25px;
      margin-left: 14px;
      margin-right: 14px;
    }
    .prod-code-mobile {
      margin: 0 14px;
    }
    .rate-rev {
      margin: 0 14px;
    }
    .img-char {
      width: 100%;
      margin-bottom: 7px;
      padding-left: 14px;
      padding-right: 14px;
    }
    .prod-code-mobile {
      display: block;
      font-size: 12px;
      color: #747474;
    }
    .char-table-wrap {
      display: none;
    }
    .glass-prod-cont {
      .sticker {
        top: 15px;
        left: 20px;
      }
    }
    .eye-setting {
      width: 100%;
      margin-bottom: 16px;
      .tab-cont {
        border: none;
        padding-left: 14px;
        padding-right: 14px;
      }
      .tabs-nav {
        a {
          font-size: 11px;
        }
        li {
          a {
            padding: 4px 5px 0;
          }
        }
      }
      .tab-content {
        .sel-wtap {
          margin-bottom: 7px;
        }
        .one-eye-sel {
          padding: 23px 0 14px;
          &:last-child {
            padding: 23px 0 14px;
          }
        }
        .jq-selectbox__select {
          height: 36px;
        }
        .jq-selectbox__select-text {
          line-height: 36px;
          font-size: 14px;
        }
      }
    }
    .rate-rev {
      .count {
        margin-right: 28px;
      }
    }
    .prod-cont {
      margin-top: 25px;
    }
    .prod-img-cont {
      width: 280px;
      height: 171px;
      margin-left: auto;
      margin-right: auto;
    }
    .box-sel {
      li {
        .price {
          font-size: 13px;
          .mobile {
            display: inline;
          }
          .red {
            color: #f50c53;
            font-size: 11px;
            font-weight: 400;
          }
        }
      }
      .descr {
        font-size: 12px;
        font-weight: 400;
        & > span {
          display: none;
        }
      }
      .jq-number {
        border: none;
      }
      .jq-number__field {
        border: 1px solid #DADBDC;
        border-radius: 3px;
      }
    }
    .char-rev-cont {
      display: none;
    }

    .del-price {
      border: none;
      width: 288px;
      box-shadow: 0 0 18px 3px rgba(89,89,89,.15);
      margin-left: auto;
      margin-right: auto;
      .ven-code {
        display: none;
      }
      .top-part {
        border-right: none;
        width: 100%;
        padding-right: 0;
        padding-bottom: 0;
      }
      .bot-part {
        display: none;
      }
    }
    .mobile-char-cont {
      display: block;
      margin: 0;
      padding: 0;
      list-style: none;
      box-shadow: 0 0 18px 3px rgba(89,89,89,.15);
      margin-bottom: 30px;
      .one-mobile-tab {
        display: none;
        padding: 12px 10px 40px 10px;
      }
      li {
        &.open {
          & > a {
            border-bottom: 2px solid transparent;
            box-shadow: 0px 3px 5px 0px rgba(64,64,64,0.14);
            &:after {
              content: "\f106";
            }
          }
        }
        .one-mobile-tab {
          box-shadow: inset 0px -6px 10px -6px rgba(64,64,64,0.15);
        }
        & > a {
          height: 35px;
          color: #252525;
          font-size: 13px;
          text-transform: uppercase;
          font-weight: 700;
          text-decoration: none;
          padding: 0 13px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          background: #FFFFFF;
          border-bottom: 2px solid #EBEEF0;
          &:after {
            content: "\f107";
            font-family: 'FontAwesome';
            font-size: 16px;
            cursor: pointer;
          }
        }
      }
      .plain-text {
        font-size: 13px;
        line-height: 24px;
        color: #252525;
        p {
          margin: 0;
        }
      }
      .char-table {
        width: 100%;
        border-collapse: collapse;
        font-size: 13px;
        tr {
          border-bottom: 1px solid #EBEEF0;
          &:last-child {
            border-bottom: none;
          }
        }
        td {
          padding: 10px 0;
          &:first-child {
            color: #747474;
          }
        }
      }
      .js-give-feedback {
        color: #0dac49;
        text-decoration: none;
        border-bottom: 1px dashed #0dac49;
        transition: all 0.1s ease;
        height: auto;
        padding: 0;
        border-radius: 0;
        width: auto;
        font-weight: 400;
        text-transform: none;
        display: inline-block;
        background: transparent;
        &:hover {
          border-bottom: 1px dashed transparent;
        }
      }
      .one-review {
        padding-bottom: 35px;
        margin-top: 35px;
        border-bottom: 1px solid #EBEEF0;
        &:last-child {
          border-bottom: none;
        }
        .name-date {
          display: flex;
          margin-bottom: 12px;
        }
        .name {
          font-size: 13px;
          color: #252525;
          font-weight: 700;
          margin-right: 41px;
        }
        .date {
          font-size: 12px;
          color: #747474;
        }
      }
      .more-rev {
        height: 40px;
      }
      .rev-text {
        font-size: 13px;
        line-height: 24px;
      }
      .reviews-cont {
        padding-top: 13px;
      }
      .rate {
        margin-bottom: 8px;
        .fa {
          font-size: 14px;
          color: #747474;
          margin-right: 1px;
        }
        .yell {
          color: #FACF08;
        }
      }
      .questions-cont {
        .count {
          display: none;
        }
        .quest-text {
          font-size: 13px;
          color: #252525;
          line-height: 24px;
        }
        .date-name {
          display: flex;
          margin-bottom: 4px;
        }
        .name {
          font-weight: 700;
          color: #252525;
          font-size: 13px;
          margin-right: 40px;
        }
        .date {
          font-size: 12px;
          color: #a9a8a8;
        }
      }
      .one-quest {
        padding-bottom: 30px;
        border-bottom: 1px solid #F7F8F9;
      }
      .one-question {
        padding-right: 20px;
        margin-bottom: 15px;
        margin-top: 30px;
      }
      .one-answer {
        box-shadow: 0px 0px 10px 0px rgba(64,64,64,0.15);
        border-radius: 25px;
        padding-top: 20px;
        padding-right: 25px;
        padding-bottom: 25px;
        padding-left: 23px;
      }
      .date-admin {
        display: flex;
      }
      .admin {
        font-size: 13px;
        font-weight: 700;
        color: #0dac49;
        &:before {
          content: "";
          width: 6px;
          height: 6px;
          border-radius: 3px;
          background: #0DAC49;
          display: inline-block;
          margin-right: 10px;
        }
      }
      .date {
        display: none;
      }
      .answ-text {
        font-size: 13px;
        line-height: 24px;
      }
    }
    .other-prod-slider {
      .product-slider-wrap {
        padding-bottom: 25px;
      }
    }
    .rate-rev {
      display: none;
    }
    .rate-code {
      justify-content: flex-end;
      padding-right: 15px;
      margin-top: -23px;
      .vendor-code {
        background: none;
        height: auto;
        padding-left: 0;
        padding-right: 0;
      }
    }
    .glass-slider {
      padding-bottom: 0;
      width: calc(100% + 400px);
      margin-left: -200px;
      margin-bottom: 8px;
      .slick-current {
        img {
          transform: scale(1.1);
        }
      }
      .slick-dots {
        display: none;
      }
      .glass-item {
        height: 170px;
        padding-top: 30px;
      }
    }
    .bot-wrap-glass {
      margin-bottom: 10px;
      .prod-name {
        font-size: 16px;
      }
      .prod-price {
        font-size: 20px;
      }
      .prod-ctrl {
        flex-wrap: wrap;
        width: 290px;
        .btn {
          width: auto;
          padding: 0 15px;
        }
        .btn-dray {
          font-size: 13px;
          text-transform: none;
          padding: 0 18px;
          width: auto;
          &:before {
            font-size: 13px;
          }
        }
        .buy-one-click {
          order: 3;
          margin-left: 0;
          margin-right: 35px;
          margin-top: 14px;
        }
        .add-wishlist {
          width: auto;
          font-size: 12px;
          height: auto;
          background-image: none;
          color: #f50c53;
          display: flex;
          align-items: center;
          text-decoration: none;
          order: 4;
          margin-top: 14px;
          &:before {
            content: "";
            width: 16px;
            height: 15px;
            display: inline-block;
            background-image: url(../img/icons/wishlist.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            margin-right: 3px;
          }
        }
      }
      .char-table-wrap {
        width: 100%;
        display: table;
        padding-left: 0;
        padding-right: 0;
        margin-left: auto;
        margin-right: auto;
        max-width: 290px;
        position: relative;
        margin-bottom: 50px;
        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: -384px;
          height: 1px;
          width: 768px;
          display: block;
          background: #EBEEF0;
        }
        td {
          padding: 3px 0;
        }
      }
      .bot-part {
        max-width: 290px;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        &:before {
          content: "";
          position: absolute;
          top: -20px;
          left: -384px;
          height: 1px;
          width: 768px;
          display: block;
          background: #EBEEF0;
        }
        & > div {
          margin-bottom: 33px;
        }
        .std-dropdown-list {
          left: auto;
          right: 15px;
        }
      }
    }
    .glass-prod-cont {
      flex-direction: column;
    }
    .brands-product {
      .view-title {
        font-size: 16px;
      }
      .read-more {
        display: none;
      }
    }
    .mobile-rate {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 7px;
      .rate {
        display: flex;
        font-size: 12px;
        margin-right: 10px;
      }
      .rev-count {
        font-size: 11px;
        color: #747474;
      }
      .fa {
        margin-right: 3px;
        color: #747474;
        &:last-child {
          margin-right: 0;
        }
      }
      .yell {
        color: #FACF08;
      }
    }
    .color-select {
      display: block;
      white-space: nowrap;
      overflow: auto;
      -ms-overflow-style: none;
      overflow: -moz-scrollbars-none;
      &::-webkit-scrollbar {
        width: 0;
      }
      & > a {
        display: inline-block;
      }
    }
    .descr-ban {
      padding: 15px 0 0 0;
      height: auto;
      h3 {
        font-size: 15px;
        margin: 0 0 16px;
      }
      .descr-text {
        width: 100%;
        margin-bottom: 30px;
      }
      .read-more {
        text-decoration: none;
        color: #0dac49;
        border-bottom: 1px solid #0dac49;
      }
    }
  }
}
@media (max-width: 380px) {
  #filter-modal.modal {
    width: 100%;
  }
}