@media (max-width: 767px) {
  .container {
    width: 100%;
  }
  header {
    .logo {
      margin-right: 65px;
      width: 120px;
      min-width: 120px
    }
    .request-call {
      margin-right: 20px;
      flex-grow: 1;
      .tel {
        font-size: 16px;
      }
    }
    .basket {
      margin-right: 20px;
    }
    .open-search-mobile {
      margin-right: 20px;
    }
    .js-open-menu {
      font-size: 27px;
    }
    .middle-stripe {
      padding: 15px 24px;
      .flex {
        justify-content: space-between;
      }
    }
  }
  .home-main {
    .container {
      padding:  0 24px;
    }
    .mini-banners-cont {
      flex-wrap: wrap;
      margin-top: 4px;
      .one-ban {
        width: calc(25% - 4px);
        margin-bottom: 8px;
      }
    }
    .questions-to-doctors {
      padding-top: 35px;
      padding-bottom: 25px;
      .questions-cont {
        margin-left: -24px;
        margin-right: -24px;
        .date-name {
          margin-bottom: 5px;
          .name {
            font-size: 13px;
            margin-right: 25px;
          }
        }
        .quest {
          .text {
            line-height: 21px;
          }
        }
        .man-info {
          margin-bottom: 5px;
        }
        .answer {
          .text {
            line-height: 21px;
          }
        }
      }
    }
    .map-wrap {
      .marker-list {
        left: 0;
      }
    }
  }
  footer {
    .foot-links {
      .container {
        flex-wrap: wrap;
        padding-top: 30px;
        padding-bottom: 30px;
      }
    }
    .col-3 {
      width: 50%;
      max-width: none;
      margin-bottom: 17px;
      padding-left: 10%;
    }
    .fot-list {
      line-height: 27px;
    }
    .copyright {
      height: auto;
      .left-side {
        flex-wrap: wrap;
        justify-content: center;
        span {
          order: 2;
          width: 100%;
          margin: 10px 0;
          text-align: center;
          white-space: nowrap;
        }
        .markets {
          margin: 10px 0 0 0;
          width: 100%;
          order: 1;
          justify-content: center;
        }
      }
      .right-side {
        margin-top: 10px;
        margin-bottom: 10px;
      }
      .sense {
        margin-left: auto;
        margin-right: auto;
      }
      .img-cont {
        width: auto;
        order: 3;
        margin-right: 10px;
      }
      .g-play {
        margin-left: 0;
      }
    }
    .subscribe {
      padding: 24px 25px;
    }
  }
  .catalog-main {
    & > .container {
      padding: 0 24px;
    }
  }
  .prod-rows-cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .one-row-prod, .one-row-lense{
    width: 50%;
    height: 340px;
    overflow: hidden;
    min-width: 285px;
    &:nth-child(2n){
      margin-left: -1px;
    }
    &:hover {
      overflow: visible;
      z-index: 3;
      .one-row-prod-in {
        position: relative;
        box-shadow: 0 0 16px 4px rgba(73,73,73,.35);
        z-index: 3;
      }
      .ctrl-block {
        opacity: 1;
      }
    }
    .one-row-prod-in {
      flex-direction: column;
      background: #FFFFFF;
      transition: all 0.15s ease;
    }
    .prod-table {
      display: none;
    }
    .prod-info {
      width: 100%;
      flex-direction: column;
    }
    .prod-ctrl {
      padding-left: 0;
      border-left: none;
      width: 100%;
    }
    .img-cont {
      height: 210px;
      width: 100%;
      min-width: 0;
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
    .price-cont {
      padding-top: 0;
      margin-bottom: 7px;
    }
    .prod-chars {
      padding-top: 0;
      padding-left: 0;
    }
    .prod-title {
      display: block;
      width: 100%;
      text-align: center;
    }
    .in-stock {
      display: none;
    }
    .price-cont {
      text-align: center;
      flex-direction: row;
      justify-content: center;
    }
    .price {
      font-size: 15px;
    }
    .old-price {
      font-size: 15px;
      margin-right: 10px;
    }
    .new-price {
      font-size: 15px;
    }
    .prod-ctrl {
      display: flex;
      flex-direction: column;
    }
    .price-cont {
      order: 1;
    }
    .m17 {
      order: 2;
      text-align: center;
    }
    .ctrl-block {
      order: 3;
      justify-content: center;
      margin-top: 20px;
      opacity: 0;
      transition: all 0.15s ease;
    }
  }
  .one-row-lense {
    height: auto;
    .one-row-prod-in {
      box-shadow: none !important;
    }
    .prod-info {
      height: auto;
    }
    .ctrl-block {
      opacity: 1 !important;
    }
    .img-cont {
      height: 170px;
    }
    .img-slider-wrap {
      min-width: 100%;
      max-height: 100%;
    }
    .js-lenses-nav {
      display: none;
    }
    .lenses-buy {
      table {
        min-height: 100px;
      }
    }
  }
  .one-lense {
    width: 50%;
    .sticker-place {
      display: none;
    }
  }
  .product-main {
    & > .container {
      padding: 0 24px;
    }
    .prod-cont {
      flex-wrap: wrap;
    }
    .img-char {
      width: calc( 100% - 275px );
    }
    .del-price {
      width: 100%;
      display: flex;
      margin-top: 15px;
      .top-part {
        border-bottom: none;
        border-right: 1px solid #EBEEF0;
        padding-right: 15px;
      }
    }
    .bot-part {
      padding-left: 15px;
    }
    .other-prod-slider {
      .tabs-nav-wrap {
        padding-left: 14px;
        padding-right: 0;
      }
      .tabs-nav {
        margin-bottom: -6px;
        overflow-x: auto;
        padding: 0;
        -ms-overflow-style: none;
        overflow: -moz-scrollbars-none;
        white-space: nowrap;
        &::-webkit-scrollbar {
          width: 0;
        }
        li {
          height: 60px;
          &:last-child {
            padding-right: 15px;
          }
        }
        a {
          text-align: center;
        }
      }
      .read-more {
        white-space: nowrap;
      }
      .read-more {
        display: none;
      }
      .product-slider-wrap {
        padding-left: 14px;
        padding-right: 14px;
      }
      .one-lense {
        width: 190px;
        max-height: none;
        margin: 0 7px;
        .one-lense-in {
          padding: 0 10px 10px;
          box-shadow: none !important;
        }
        table {
          td {
            padding: 0;
          }
        }
      }
      .img-cont {
        height: 140px;
      }
    }
    .char-rev-cont {
      padding: 0 24px 55px 24px;
      .tabs-nav {
        padding: 0 20px;
      }
    }
    .news-cont {
      & > .container {
        padding: 0 24px;
      }
    }
    .prod-viewed {
      & > .container {
        padding: 0 24px;
      }
      .view-all-prod {
        display: none;
      }
    }
  }
}
@media (max-width: 690px) {
  header {
    .logo {
      margin-right: 30px;
    }
    .request-call {
      flex-grow: initial;
      margin-right: 10px;
      .tel {
        font-size: 14px;
      }
      .js-req-call {
        font-size: 12px;
      }
    }
    .wishlist {
      display: none;
    }
    .open-search-mobile {
      margin-right: 15px;
    }
    .basket {
      margin-right: 15px;
    }
  }
  .catalog-main {
    .mobile-ctrl-block {
      .std-dropdown-link {
        width: 200px;
      }
      .cat-type {
        a {
          margin-right: 15px;
        }
        &:before {
          margin-right: 20px;
          margin-left: 20px;
        }
      }
    }
    .js-open-filters {
      margin-right: 15px;
    }
  }

}