@media (max-width: 992px) {
  .container {
    width: 720px;
  }
  header {
    .top-stripe {
      display: none;
    }
    .bot-stripe {
      display: none;
    }
    .search-wrap {
      display: none;
    }
    .logo {
      width: 142px;
      min-width: 142px;
      margin-right: 70px;
    }
    .middle-stripe {
      height: 68px;
      padding: 12px 0;
    }
    .ja-open-menu {
      display: block;
      font-size: 29px;
      color: #252525;
      margin-right: 21px;
    }
    .dressing-room {
      .ico {
        height: 29px;
        width: 18px;
        margin-right: 5px;
      }
      .tit {
        font-size: 13px;
        text-transform: none;
      }
      .foc {
        font-size: 0;
      }
    }
    .basket {
      position: relative;
      .ico {
        width: 22px;
        height: 26px;
      }
      .count {
        font-size: 0;
        width: 19px;
        height: 19px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #0DAC49;
        border-radius: 10px;
        position: absolute;
        top: 8px;
        left: 12px;
        span {
          font-size: 11px;
          color: #FFFFFF;
        }
      }
    }
    .wishlist {
      position: relative;
      .ico {
        width: 27px;
        height: 22px;
      }
      .count {
        font-size: 0;
        width: 19px;
        height: 19px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #F50C53;
        border-radius: 10px;
        position: absolute;
        top: 8px;
        left: 19px;
        span {
          font-size: 11px;
          color: #FFFFFF;
        }
      }
    }
    .request-call {
      margin-right: 60px;
      .tel {
        font-size: 18px;
      }
      .js-req-call {
        font-size: 13px;
        border-bottom: 1px solid #0dac49;
      }
    }
    .open-search-mobile {
      display: flex;
      align-items: center;
      margin-right: 31px;
      .ico {
        width: 23px;
        height: 22px;
      }
    }
  }
  .std-slider {
    .slick-dots {
      display: none !important;
    }
  }
  .home-main {
    .mini-banners-cont {
      margin-bottom: 29px;
    }
    .tabs-controll {
      padding-top: 22px;
      padding-left: 31px;
      letter-spacing: 0.0px;
      .tabs-nav {
        width: calc( 100% + 110px );
        justify-content: space-between;
        li {
          height: 33px;
          margin-right: 0;
        }
      }
    }
    .product-slider-wrap {
      .slick-arrow {
        display: none !important;
      }
    }
  }
  .sticker.discount {
    width: 40px;
    height: 40px;
    font-size: 12px;
  }
  .product-slider {
    overflow-x: visible;
    &:before {
      content: "";
      top: 0;
      right: calc( 100% + 10px );
      height: 104%;
      width: 272px;
      position: absolute;
      z-index: 3;
      background: #FFFFFF;
    }
    .slick-list {
      width: 100%;
      padding-left: 0;
      margin-bottom: 18px;
    }
    .one-prod {
      width: 205px;
    }
    .slick-dots {
      bottom: 25px;
    }
  }
  .one-prod {
    .one-prod-in {
      padding: 13px 7px;
    }
    .img-cont {
      margin: 0 0 5px 0;
      height: 125px;
    }
    .prod-name {
      margin-bottom: 13px;
    }
  }
  .home-main {
    overflow-x: hidden;
    .tabs-controll {
      .tit {
        font-size: 16px;
        letter-spacing: 0;
      }
    }
    .top-sales-tabs {
      .tab {
        padding-top: 12px;
      }
    }
    .news-slider-wrap {
      .slick-arrow {
        display: none !important;
      }
    }
    .news-cont {
      .title {
        font-size: 16px;
      }
      .top {
        margin-bottom: 16px;
      }
      .read-more {
        letter-spacing: 0.3px;
        position: relative;
        top: 5px;
      }
    }
    .one-news {
      width: 255px;
      margin: 0 12px;
      .date {
        margin-bottom: 4px;
      }
    }
    .news-slider {
      &:before {
        content: "";
        position: absolute;
        z-index: 2;
        top: 0;
        right: 100%;
        height: 100%;
        width: 272px;
        background: #F7F8F9;
      }
      .slick-list {
        overflow: visible;
      }
    }
    .questions-to-doctors {
      padding-top: 45px;
      .title {
        font-size: 16px;
      }
      .read-more {
        letter-spacing: 0;
      }
      .btn {
        width: 200px;
        margin-right: 18px;
      }
      .top {
        margin-bottom: 15px;
      }
      .questions-cont {
        margin-left: -20px;
        margin-right: -20px;
        .quest {
          padding: 13px 35px 20px 18px;
          width: 345px;
        }
        .answer {
          width: 425px;
          padding-left: 22px;
        }
        .date-name {
          margin-bottom: 13px;
          .name {
            margin-right: 45px;
          }
        }
      }
    }
    .map-search-cont {
      margin-top: 13px;
      .left-tabs {
        padding-top: 16px;
        width: 100%;
      }
      .title {
        font-size: 16px;
      }
      .tabs-controll {
        padding-top: 0;
        box-shadow: 0 0 18px 3px rgba(64,64,64,.15);
        &>.flex {
          padding-left: 0;
          padding-right: 0;
          box-shadow: none;
        }
        .tabs-nav {
          width: 100%;
          overflow-x: auto;
          -ms-overflow-style: none;
          overflow: -moz-scrollbars-none;
          &::-webkit-scrollbar {
            width: 0;
          }
          li {
            margin-right: 34px;
          }
          a {
            white-space: nowrap;
          }
        }
      }
    }
    .map-wrap {
      .address {
        width: 230px;
      }
      .marker-list {
        width: 320px;
        left: calc(50% - 347px);
      }
    }
    #map {
      height: 365px;
    }
  }
  footer {
    .subscribe {
      height: auto;
      padding: 24px 0;
      .flex {
        flex-direction: column;

      }
    }
    .subscribe-text {
      line-height: 24px;
      letter-spacing: 0.0px;
      margin-bottom: 17px;
      width: 435px;
    }
    .subscribe-in {
      margin-left: -25px;
    }
    .subscribe-form {
      .btn {
        padding: 0 30px;
      }
    }
    .col-3 {
      width: auto;
      max-width: 150px;
    }
    .foot-links {
      .container {
        justify-content: space-between;
      }
    }
    .copyright {
      height: 100px;
      .container {
        flex-direction: column;
        justify-content: center;
      }
      .g-play {
        margin-left: 130px;
      }
      .right-side {
        margin-top: 15px;
      }
    }
  }
}