*, *:before, *:after {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Open Sans', sans-serif;
  color: #171717;
}
.lock {
  overflow: hidden;
}
a {
    color: #000;
    outline: 0;
    overflow: hidden;
    text-decoration: none;
}
main {
    position: relative;
}
.container {
  width: 1170px;
  margin: 0 auto;
}
.flex {
  display: flex;
}
.std-slider  {
  .item {
    img {
      width: 100%;
    }
  }
  .slick-dots {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0 19px 0 19px;
    list-style: none;
    background: rgba(255,255,255,.74);
    height: 30px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  li {
    width: 8px;
    height: 8px;
    border: 1px solid #7B7B78;
    margin-right: 17px;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    overflow: hidden;
    &.slick-active {
      background: #0DAC49;
      border: 1px solid #0DAC49
    }
    &:last-child {
      margin-right: 0;
    }
    button {
      border: transparent;
      background: transparent;
      font-size: 0;
      outline: none;
    }
  }
}
.page {
  .map-search-cont {
    .tabs-controll {
      width: 100%;
      box-shadow: none;
      &>.flex {
        padding-left: 27px;
        padding-right: 25px;
        justify-content: space-between;
        box-shadow: 0px 0px 18px 3px rgba(64,64,64,0.15);
      }
    }
    .title {
      margin-top: 6px;
      margin-bottom: 22px;
      font-size: 18px;
      color: #252525;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 0.5px;
    }
    .left-tabs {
      padding-top: 23px;
    }
    .right-city {
      padding-top: 23px;
      padding-left: 25px;
      border-left: 1px solid #EBEEF0;
      .label {
        color: #252525;
        font-size: 14px;
        margin-bottom: 5px;
        &:before {
          content: "\f041";
          color: #0DAC49;
          font-family: 'FontAwesome';
          font-size: 15px;
          margin-right: 4px;
        }
      }
      .jq-selectbox__select {
        min-width: 246px;
      }
      .jq-selectbox__dropdown {
        padding: 5px 0;
        ul {
          max-height: 128px;
          overflow: auto;
        }
      }
      .js-open-map {
        display: none;
      }
    }
    .tabs-controll {
      margin-bottom: 0;
      position: relative;
      z-index: 1;
      .tabs-nav {
        li {
          margin-right: 20px;
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
  #map {
    height: 460px;
  }
  .map-wrap {
    position: relative;
    .marker-list {
      background: #FFFFFF;
      position: absolute;
      top: 0;
      left: calc(50% - 587px);
      width: 370px;
      height: 100%;
      padding: 0 20px;
      overflow: auto;
      padding-right: 0;
      padding-top: 15px;
      padding-bottom: 15px;
    }
    .one-place {
      position: relative;
      padding: 21px 20px 20px 20px;
      border-bottom: 1px solid #EBEEF0;
      &.open {
        .address {
          font-weight: 700;
        }
        .open-arrow {
          &:before {
            transform: rotateX(-180deg) translate(-50%,-50%);
          }
        }
      }
      &:last-child {
        border-bottom: none;
      }
    }
    .address {
      font-size: 13px;
      line-height: 16px;
      color: #252525;
      width: 280px;
      position: relative;
      &:before {
        content: "\f041";
        position: absolute;
        left: -20px;
        top: 50%;
        transform: translateY(-50%);
        color: #0DAC49;
        font-family: FontAwesome;
        font-size: 15px;
        margin-right: 4px;
      }
    }
    .open-hours {
      color: #747474;
      font-size: 13px;
      line-height: 18px;
      padding-top: 15px;
      display: none;
    }
    .open-arrow {
      position: absolute;
      right: 0;
      top: 27px;
      width: 20px;
      height: 20px;
      text-decoration: none;
      &:before {
        position: absolute;
        left: 50%;
        top: 50%;
        transition: all 0.2s ease-out;
        transform-origin: 0 0;
        transform: rotateX(0) translate(-50%, -50%);
        content: "\f107";
        font-size: 15px;
        font-family: 'FontAwesome';
        color: #7F7F7F;
      }
    }
  }
  .max576{
    display: none;
  }
  .js-show-on-map {
    display: none;
  }
  .addrss-cont {
    display: none;
  }
  .tabs-controll {
    box-shadow: 0px 0px 18px 3px rgba(89,89,89,0.15);
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 28px;
    .tabs-nav {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    .tit {
      font-size: 18px;
      color: #252525;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.5px;
      margin-bottom: 18px;
      span {
        color: #747474;
      }
    }
    .left-p {
      flex-grow: 1;
    }
    .tabs-nav {
      display: flex;
    }
    .read-more {
      color: #0dac49;
      font-size: 13px;
      text-decoration: none;
      letter-spacing: -0.6px;
      margin-top: 19px;
      white-space: nowrap;
      &:after {
        content: "";
        display: inline-block;
        width: 21px;
        height: 10px;
        margin-left: 7px;
        background-image: url('../img/icons/green-arrow.svg');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
    .tabs-nav {
      li {
        margin-right: 27px;
        height: 41px;
        border-bottom: 4px solid transparent;
        &.active {
          border-bottom: 4px solid #0DAC49;
          a {
            color: #252525;
            &:hover {
              color: #0dac49;
            }
          }
        }
        &:last-child {
          margin-right: 0;
        }
      }
      a {
        text-decoration: none;
        color: #747474;
        font-size: 12px;
        text-transform: uppercase;
        transition: all 0.15s ease;
        &:hover {
          color: #0dac49;
        }
      }
    }
  }
  .news-cont {
    background: #F7F8F9;
    padding: 45px 0 45px 0;
    .slick-dots {
      display: flex;
      justify-content: center;
      padding: 0;
      margin: 0;
      list-style: none;
      position: absolute;
      left: 50%;
      bottom: -47px;
      transform: translate(-50%,-50%);
      li {
        border: 1px solid #7B7B7B;
        width: 10px;
        height: 10px;
        overflow: hidden;
        border-radius: 5px;
        margin-right: 20px;
        cursor: pointer;
        &.slick-active {
          border: 1px solid #0DAC49;
          background: #0DAC49;
        }
        &:last-child {
          margin-right: 0;
        }
      }
      button {
        opacity: 0;
        cursor: pointer;
      }
    }
    .news-slider-wrap {
      padding-bottom: 45px;
      .slick-arrow {
        top: 34%;
      }
    }
    .top {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 31px;
    }
    .title {
      text-transform: uppercase;
      color: #252525;
      font-size: 18px;
      font-weight: 700;
    }
    .read-more {
      color: #0dac49;
      font-size: 13px;
      text-decoration: none;
      letter-spacing: -.6px;
      &:after {
        content: "";
        display: inline-block;
        width: 21px;
        height: 10px;
        margin-left: 7px;
        background-image: url(../img/icons/green-arrow.svg);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }
  .one-news {
    display: block;
    text-decoration: none;
    width: 270px;
    margin: 0 15px;
    .img-cont {
      width: 100%;
      margin-bottom: 6px;
      img {
        display: block;
        width: 100%;
        height: auto;
      }
    }
    .date {
      color: #747474;
      font-size: 12px;
      margin-bottom: 2px;
    }
    .title {
      color: #252525;
      font-size: 15px;
      line-height: 20px;
      font-weight: 700;
      text-transform: none;
    }
  }
}
.breadcrumbs {
  margin: 15px 0;
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  li {
    color: #252525;
    font-size: 13px;
    display: inline;
    &:after {
      content: "\f105";
      font-family: FontAwesome;
      font-size: 15px;
      margin: 0 2px 0 9px;
      display: inline-block;
    }
    &:last-child {
      &:after {
        display: none;
      }
    }
  }
  a {
    color: #747474;
    font-size: 13px;
    text-decoration: none;
  }
}
.prod-viewed {
  border-top: 1px solid #DADBDC;
  padding-top: 48px;
  position: relative;
  .container {
    position: relative;
  }
  .view-title {
    color: #252525;
    margin: 0;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 0.4px;
  }
  .view-all-prod {
    position: absolute;
    bottom: 43px;
    right: 0;
    color: #0dac49;
    text-decoration: none;
    border-bottom: 1px dashed #0dac49;
    margin-right: 26px;
    transition: all 0.15s ease-out;
    overflow: visible;
    &:hover {
      border-bottom: 1px dashed transparent;
    }
    &:after {
      content: "";
      position: absolute;
      right: -25px;
      top: 50%;
      transform: translateY(-50%);
      width: 21px;
      height: 10px;
      background-image: url(../img/icons/green-arrow.svg);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}
.blocker {
  z-index: 10;
  background: rgba(37,37,37,0.23);
}
.bh-sl-container img { max-width: none; }