a {
  font-size: 13px;
  color: #0dac49;
  text-decoration: underline;

  &.disabled {
    color: #c7c8c8;
    text-decoration: underline !important;
  }
  &:hover {
    text-decoration: none;
  }
}
.max1200 {
  display: none;
}
.btn {
  background: #0DAC49;
  height: 46px;
  width: 170px;
  border-radius: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
  overflow: hidden;
  text-decoration: none;
  border: none;
  transition: all 0.15s ease-out;
  &.disabled {
    background: #DADBDC;
  }
  &:hover {
    background: #028C36;
  }
}
.ripple {
  position: relative;
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px;
    height: 5px;
    background: rgba(255, 255, 255, .3);
    opacity: 0;
    border-radius: 100%;
    transform: scale(1, 1) translate(-50%);
    transform-origin: 50% 50%;
  }
}
@keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }
  20% {
    transform: scale(25, 25);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(40, 40);
  }
}
.ripple:focus:not(:active)::after {
  animation: ripple 0.7s ease-out;
}

.sticker {
  height: 24px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 11px;
  &.new {
    color: #252525;
    background: #ECDF0E;
  }
  &.top-sales {
    color: #ffffff;
    background: #0E91EC;
  }
  &.discount {
    width: 48px;
    height: 48px;
    color: #FFFFFF;
    font-size: 14px;
    background: #F50C53;
    border-radius: 24px;
    padding: 0;
    position: relative;
    z-index: 2;
    justify-content: center;
  }
}
.in-stock {
  color: #0dac49;
  font-size: 12px;
  padding-left: 18px;
  position: relative;
  margin-right: 0;
  margin-left: auto;
  &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 2px;
    transform: translateY(-50%);
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background: #0DAC49;
  }
}
.not-avi {
  font-size: 12px;
  color: #747474;
  margin-right: 0;
  margin-left: auto;
}
.delivery-expected {
  color: #8f8702;font-size: 12px;
}
.one-prod {
  max-height: 295px;
  width: 294px;
  display: block;
  text-decoration: none;
  overflow: hidden;
  &.not-available {
    .img-cont {
      opacity: .4;
      filter: grayscale(35%);
    }
  }
  &:hover {
    position: relative;
    overflow: visible;
    z-index: 3;
    .one-prod-in {
      background: #FFFFFF;
      height: auto;
      box-shadow: 0px 0px 16px 4px rgba(73,73,73,0.35);
    }
    .ctrl-block {
      opacity: 1;
    }
    .m17 {
      opacity: 1;
    }
  }
  .one-prod-in {
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 25px;
    padding-bottom: 30px;
    box-shadow: 0px 0px 16px 4px rgba(73,73,73,0.0);
    transition: all 0.15s ease;
  }
  .sticker-place {
    height: 24px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .img-cont {
    width: 100%;
    height: 165px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 6px 0;
    img {
      display: block;
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto;
    }
  }
  .prod-name {
    line-height: 20px;
    font-size: 15px;
    color: #252525;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 7px;
    letter-spacing: -0.8px;
  }
  .price-wrap {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 12px;
  }
  .old-price {
    color: #747474;
    font-size: 15px;
    font-weight: 700;
    text-decoration: line-through;
    margin-right: 11px;
  }
  .price {
    color: #252525;
    font-size: 15px;
    font-weight: 700;
  }
  .new-price {
    color: #f50c53;
    font-size: 15px;
    font-weight: 700;
  }
  object {
    text-align: center;
    text-decoration: none;
    display: block;
  }
  .order-fitting {
    position: relative;
    font-size: 13px;
    padding-left: 16px;
    color: #0dac49;
    text-decoration: none;
    &:before {
      content: "";
      height: 17px;
      width: 11px;
      background-image: url('../img/icons/fitting.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .added-fitting {
    position: relative;
    font-size: 13px;
    padding-left: 16px;
    color: #0e91ec;
    text-decoration: none;
    display: inline;
    &:before {
      content: "";
      height: 17px;
      width: 11px;
      background-image: url('../img/icons/added-fitting.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .ctrl-block {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.15s ease-out;
  }
  .add-to-wish {
    width: 32px;
    height: 30px;
    background-image: url('../img/icons/wishlist.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .btn {
    height: 40px;
    width: 177px;
    margin-right: 10px;
  }
  .m17 {
    margin-bottom: 17px;
    transition: all 0.15s ease-out;
    opacity: 0;
  }
}
.product-slider-wrap, .news-slider-wrap {
  width: 100%;
  position: relative;
  .slick-arrow {
    width: 65px;
    height: 65px;
    background: rgba(234,237,241,0.5);
    border-radius: 50%;
    font-size: 0;
    position: absolute;
    top: 38%;
    border: none;
    z-index: 2;
    transition: all 0.2s ease-out;
    cursor: pointer;
    outline: none;
    &:hover {
      background: rgba(234,237,241,1);
    }
    &:after {
      content: "";
      width: 24px;
      height: 11px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
  .slick-next {
    right: 0;
    transform: translate(50%,-50%);
    &:after {
      background-image: url('../img/icons/gray-right-arrow.svg');
    }
  }
  .slick-prev {
    left: 0;
    transform: translate(-50%,-50%);
    &:after {
      background-image: url('../img/icons/gray-left-arrow.svg');
    }
  }
}
.product-slider {
  display: block;
  overflow-x: hidden;
  overflow-y: visible;
  .slick-list {
    overflow: visible;
    width: calc( 100% + 20px ) !important;
    padding-left: 10px;
    margin-bottom: 105px;
    position: relative;
    z-index: 2;
    &:before {
      content: "";
      height: 100%;
      position: absolute;
      width: 15px;
      left: 0;
      top: 0;
    }
    &:after {
      content: "";
      height: 100%;
      position: absolute;
      width: 15px;
      right: 20px;
      top: 0;
    }
  }
  .one-prod {
    width: 288px;
    margin-bottom: 15px;
    margin-top: 10px;
  }
  .slick-dots {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    bottom: 45px;
    left: 50%;
    transform: translateX(-50%);
    li {
      border: 1px solid #7B7B7B;
      width: 10px;
      height: 10px;
      overflow: hidden;
      border-radius: 5px;
      margin-right: 20px;
      cursor: pointer;
      &.slick-active {
        border: 1px solid #0DAC49;
        background: #0DAC49;
      }
      &:last-child {
        margin-right: 0;
      }
    }
    button {
      opacity: 0;
    }
  }
}
.jq-selectbox {
  &.opened {
    .jq-selectbox__select {
      border: 1px solid #727272;
    }
    .jq-selectbox__trigger-arrow {
      &:before {
        transform: rotateX(-180deg);

      }
    }
  }
}
.jq-selectbox__select {
  border: 1px solid #DADBDC;
  height: 44px;
  min-width: 270px;
  border-radius: 22px;
  transition: all 0.15s ease-out;
  &:hover {
    border: 1px solid #727272;
  }
}
.jq-selectbox__select-text {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  width: 100%;
  color: #252525;
  font-size: 14px;
  line-height: 42px;
  padding-left: 23px;
  padding-right: 35px;
}
.jq-selectbox__trigger {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 35px;
}
.jq-selectbox__trigger-arrow {
  &:before {
    content: "\f107";
    color: #7E7E7E;
    font-family: "FontAwesome";
    font-size: 15px;
    position: absolute;
    height: 13px;
    width: 13px;
    top: 50%;
    right: 13px;
    margin-top: -6px;
    transition: all 0.2s ease-out;
    transform-origin: 0 60%;
    transform: rotateX(0deg);
  }
}
.jq-selectbox__dropdown {
  width: 100%;
  background: #FFFFFF;
  border-radius: 5px;
  margin-top: 5px;
  box-shadow: 0px 0px 18px 3px rgba(64,64,64,0.15);
  ul {
    padding: 0 0 0 25px;
    margin: 0;
    font-size: 14px;
    line-height: 24px;
    color: #252525
  }
  li {
    transition: all 0.15s ease-out;
    cursor: pointer;
    height: 31px;
    display: flex;
    align-items: center;
    &:hover {
      color: #0dac49;
    }
  }
}
.mCSB_scrollTools {
  right: 5px;
}
.mCSB_scrollTools .mCSB_draggerRail {
  background: transparent;
  width: 6px;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 6px;
  background-color: rgba(13,172,73,.75);
}
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background-color: rgba(13,172,73,1);
}
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
  background-color: rgba(13,172,73,1);
}
.noUi-target {
  height: 2px;
  box-shadow: none;
  border-radius: 0;
  border: none;
  background: #DADBDC;
}
.noUi-handle {
  border: none;
  box-shadow: 0px 1px 6px 1px rgba(139,146,152,0.36);
}
.noUi-horizontal {
  .noUi-handle {
    width: 24px;
    height: 24px;
    border-radius: 12px;
    top: -12px;
    &:after {
      display: none;
    }
    &:before {
      display: block;
      width: 14px;
      height: 14px;
      background: #0DAC49;
      border-radius: 7px;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
  }
}
.noUi-connect {
  background: #0DAC49;
}
html:not([dir=rtl]) .noUi-horizontal .noUi-handle {
  right: -12px;
}
.jq-checkbox {
  width: 17px;
  height: 17px;
  border: 1px solid #DADBDC;
  border-radius: 2px;
  &.checked {
    background: #0DAC49;
    border: 1px solid #0DAC49;
    .jq-checkbox__div {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      width: 11px;
      height: 11px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      background-image: url('../img/checked.svg');
    }
  }
}
.std-dropdown {
  text-decoration: none;
  .std-dropdown-list {
    width: 100%;
    min-width: 270px;
    background: #FFF;
    border-radius: 5px;
    margin-top: 5px;
    padding: 5px 0 5px 25px;
    box-shadow: 0 0 18px 3px rgba(64,64,64,.15);
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 2;
    display: none;
    li {
      cursor: pointer;
      height: 31px;
      display: flex;
      align-items: center;
    }
    a {
      color: #252525;
      font-size: 14px;
      font-weight: 400;
      text-decoration: none;
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      transition: all .15s ease-out;
      &:hover {
        color: #0dac49;
      }
    }
  }
}
.pagination {
  margin: 20px 0;
  list-style: none;
  padding: 0;
  display: flex;
  font-size: 15px;
  text-align: center;
  display: flex;
  justify-content: center;
  li {
    margin-right: 15px;
    width: 31px;
    height: 31px;
    border-radius: 16px;
    overflow: hidden;
    &.active {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #ffffff;
      background: #0DAC49;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: #252525;
    transition: all 0.15s ease;
    text-decoration: none;
    &:hover {
      background: #F0EEF0;
    }
  }
}
.one-row-prod, .one-row-lense {
  height: 240px;
  width: 100%;
  border: 1px solid #EBEEF0;
  margin-top: -1px;
  &:last-child {
    margin-top: 0;
  }
  .one-row-prod-in {
    display: flex;
    padding: 8px;
    height: 100%;
  }
  .old-price {
    color: #747474;
    font-size: 18px;
    font-weight: 700;
    text-decoration: line-through;
  }
  .new-price {
    color: #f50c53;
    font-size: 18px;
    font-weight: 700;
  }
  .price {
    color: #252525;
    font-weight: 700;
    font-size: 18px;
    margin-top: 12px;
  }
  .price-cont {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 16px;
    padding-top: 43px;
  }
  .prod-ctrl {
    padding-left: 22px;
  }
  .btn {
    height: 40px;
  }
  .prod-info {
    width: calc( 100% - 225px );
    height: 100%;
  }
  .prod-ctrl {
    border-left: 1px solid #EBEEF0;
    width: 225px;
  }
  .btn {
    width: 150px;
    margin-right: 9px;
  }
  .ctrl-block {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
  }
  .add-to-wish {
    width: 32px;
    height: 32px;
    background-image: url('../img/icons/wishlist.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .order-fitting {
    position: relative;
    color: #0dac49;
    font-size: 13px;
    padding-left: 16px;
    text-decoration: none;
    &:before {
      content: "";
      background-image: url(../img/icons/fitting.svg);
      position: absolute;
      height: 17px;
      width: 11px;
      left: 0;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .prod-info {
    display: flex;
  }
  .prod-chars {
    padding-left: 40px;
    padding-top: 32px;
  }
  .prod-title {
    text-decoration: none;
    color: #252525;
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 4px;
    display: inline-block;
  }
  .img-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 270px;
    max-width: 270px;
    height: 100%;
    position: relative;
    img {
      display: block;
      max-width: 100%;
      max-height: 100%;
    }
  }
  .img-slider-wrap {
    min-width: 270px;
    max-width: 270px;
    height: 100%;
    position: relative;
    padding-top: 4px;
  }
  .in-stock {
    padding-left: 16px;
    margin-bottom: 12px;
    display: block;
    &:before {
      content: "\f041";
      background: none;
      font-size: 15px;
      font-family: FontAwesome;
      position: absolute;
      height: 17px;
      width: 11px;
      left: 2px;
      top: 11px;
      transform: translateY(-50%);
    }
  }
  .prod-table {
    font-size: 13px;
    line-height: 20px;
    td {
      &:first-child {
        color: #747474;
        width: 165px;
      }
    }
  }
  .sticker {
    position: absolute;
    top: 16px;
    left: 12px;
  }
  .top-sales {
    text-transform: uppercase;
  }
  .discount {
    position: absolute;
    top: 10px;
  }
}
.one-row-lense {
  height: 250px;
  &.not-available {
    .colors-img-cont {
      opacity: .4;
      filter: grayscale(35%);
    }
    .ctrl-block {
      justify-content: center;
    }
    .center {
      text-align: center;
    }
  }
  .colors-img-cont {
    height: 170px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      display: block;
      max-width: 100%;
      max-height: 100%;
    }
  }
  .color {
    width: 28px;
    max-width: 28px;
    min-width: 28px;
    height: 28px;
    border-radius: 14px;
    border: 6px solid #FFFFFF;
    &:hover {
      box-shadow: 0 2px 8px 0 rgba(64,64,64,.2);
    }
  }
  .slick-track {
    display: flex;
  }
  .js-lenses-nav {
    display: flex;
    justify-content: center;
    margin-top: 4px;
    .slick-list {
      padding-top: 2px;
      padding-bottom: 2px;
      width: 170px;
    }
    a {
      text-decoration: none;
      color: #7C7C7C;
      font-size: 20px;
      width: 10px;
      display: flex !important;
      align-items: center;
      justify-content: center;
    }
  }
  .lenses-buy {
    font-size: 13px;
    margin-bottom: 17px;
    table {
      width: 100%;
    }
    td {
      padding: 6px 0;
      color: #747474;
      &:last-child {
        color: #747474;
        font-weight: 700;
        text-align: right;
        font-size: 15px;
      }
    }
    .selected {
      td {
        color: #252525;
      }
    }
    label {
      display: flex;
      align-items: center;
    }
    .jq-radio {
      margin-right: 12px;
    }
  }
  .img-slider-wrap {
    min-width: 220px;
    max-width: 220px;
  }
  .img-cont {
    min-width: 220px;
    max-width: 220px;
  }
  .prod-chars {
    padding-top: 36px;
  }
  .prod-title {
    margin-bottom: 8px;
  }
  .prod-ctrl {
    width: 276px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .btn {
    width: 165px;
    font-size: 12px;
  }
  .pick-similar {
    text-decoration: none;
    font-size: 13px;
    border-bottom: 1px dashed transparent;
    transition: all .15s ease;
  }
  .in-stock.mobile {
    display: none;
  }
}
.form-group {
  input[type="text"],
  input[type="password"],
  input[type="email"] {
    display: block;
    width: 100%;
    border: 1px solid #DADBDC;
    height: 45px;
    border-radius: 23px;
    padding-left: 22px;
    outline: none;
    font-size: 14px;
    color: #252525;
    transition: all 0.15s ease-out;
    &::placeholder {
      color: #747474;
      font-size: 14px;
      font-family: 'Open Sans', sans-serif;
    }
    &:hover {
      border: 1px solid #747474;
    }
    &:focus {
      border: 1px solid #747474;
    }
  }
  .help-block{
    display: none;
    margin-bottom: 20px;
  }
  .form-group {
    margin-bottom: 14px;
  }
}
.one-lense {
  width: 33.333%;
  max-height: 335px;
  border: 1px solid #EBEEF0;
  margin-left: -1px;
  margin-top: 0;
  text-decoration: none;
  color: #252525;
  overflow: hidden;
  &.not-available {
    .img-cont {
      opacity: .4;
      filter: grayscale(35%);
    }
    &:hover {
      .price-var {
        display: table;
      }
    }
  }
  &:hover {
    z-index: 3;
    border: 1px solid transparent;
    overflow: visible;
    .price-var {
      display: none;
    }
    .hover-price-var {
      display: table;
    }
    .one-lense-in {
      z-index: 3;
      box-shadow: 0 0 16px 4px rgba(73,73,73,.35);
    }
    .ctrl-block {
      opacity: 1;
    }
    .center {
      opacity: 1;
    }
  }
  &:nth-child(3n+1) {
    margin-left: 0;
  }
  &:nth-child(n+4) {
    margin-top: -1px;
  }
  .sticker-place {
    height: 24px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .one-lense-in {
    background: #FFFFFF;
    padding: 15px 14px 20px 20px;
    box-shadow: 0 0 16px 4px rgba(73,73,73,.0);
    transition: all 0.15s ease-out;
  }
  .img-cont {
    height: 175px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      display: block;
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto;
    }
  }
  .lense-name {
    text-align: center;
    margin-bottom: 12px;
  }
  .hover-price-var {
    display: none;
    label {
      display: flex;
      align-items: center;
      width: 100%;
    }
  }
  table {
    width: 100%;
    margin-bottom: 10px;
    td {
      padding: 6px 0;
      &:first-child {
        font-size: 13px;
        color: #747474;
      }
      &:last-child {
        text-align: right;
        font-size: 15px;
        font-weight: 700;
      }
    }
  }
  .btn {
    height: 40px;
    margin-right: 8px;
  }
  .ctrl-block {
    opacity: 0;
    transition: all 0.15s ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .add-to-wish {
    width: 32px;
    height: 30px;
    background-image: url(../img/icons/wishlist.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
  }
  .center {
    text-align: center;
    display: block;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 10px;
    opacity: 0;
    transition: all 0.15s ease-out;
  }
  .pick-similar {
    text-decoration: none;
    font-size: 13px;
    border-bottom: 1px dashed transparent;
    transition: all 0.15s ease;
    &:hover {
      border-bottom: 1px dashed #0DAC49;
    }
  }
}
.jq-radio {
  width: 16px;
  height: 16px;
  background: #FFFFFF;
  border: 1px solid #DBDCDD;
  border-radius: 8px;
  margin-right: 4px;
  position: relative;
  &.checked {
    .jq-radio__div {
      background: #0DAC49;
    }
  }
  .jq-radio__div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background: transparent;
    transition: all 0.1s ease;
  }
}
.btn-dray {
  padding: 0 29px;
  background: #F0EEF0;
  color: #252525;
  font-size: 12px;
  height: 40px;
  border-radius: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  overflow: hidden;
  text-decoration: none;
  border: none;
  transition: all 0.15s ease-out;
  &.disabled {
    color: #FFFFFF;
    background: #DADBDC;
  }
  &:hover {
    background: #028C36;
  }
  &:hover {
    background: #E9E3E6;
  }
}