header {
  box-shadow: 0px 3px 18px 0px rgba(64,64,64,0.15);
  .top-stripe {
    background: #F7F8F9;
    position: relative;
    z-index: 1;
    .container.flex {
      justify-content: space-between;
    }
  }
  .top-menu {
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
  }
  .top-menu {
    height: 40px;
    color: #252525;
    & > li {
      height: 100%;
      display: flex;
      align-items: center;
      margin: 0 1px;
      a {
        font-size: 11px;
        text-transform: uppercase;
        padding: 4px 11px;
        text-decoration: none;
        color: #252525;
        transition: all 0.15s ease;
        &:hover {
          color: #0dac49;
        }
      }
      &.active {
        a {
          color: #FFFFFF;
          background: #0DAC49;
          border-radius: 11px;
        }
      }
      &.has-dropdown {
        padding-right: 8px;
        position: relative;
        &.open {
          &:after {
            transform: rotateX(-180deg) translateY(-50%);
          }
        }
        &:after {
          content: "\f107";
          font-family: "FontAwesome";
          position: absolute;
          right: 7px;
          top: 50%;
          transform: translateY(-50%);
          font-size: 13px;
          color: #7C7C7C;
          transform-origin: 0 0;
          transition: all 0.15s ease;
        }
        &:hover {
          &:after {
            color: #0dac49;
          }
        }
      }
    }
  }
  .dropdown-list {
    position: absolute;
    top: 100%;
    left: 0;
    background: #FFFFFF;
    box-shadow: 0 3px 18px 0 rgba(64,64,64,.15);
    display: none;
    border-radius: 4px;
    ul {
      margin: 0;
      padding: 5px 0 10px 0;
      list-style: none;
      width: 180px;
      li {
        width: 100%;
      }
      a {
        height: 30px;
        display: flex;
        align-items: center;
        font-size: 11px;
        color: #252525;
        transition: all 0.1s ease;
        &:hover {
          color: #0dac49;
        }
      }
    }
  }

  .right-part {
    display: flex;
    font-size: 11px;
    text-transform: uppercase;
    .has-dropdown {
      padding-right: 22px;
      display: flex;
      align-items: center;
      position: relative;
      margin-right: 10px;
      & > a {
        text-decoration: none;
        color: #252525;
        font-size: 11px;
        &:after {
          content: "\f107";
          font-family: "FontAwesome";
          position: absolute;
          right: 7px;
          top: 50%;
          transform: translateY(-50%);
          transition: all 0.15s ease;
          font-size: 13px;
          color: #7C7C7C;
        }
      }
    }
  }
  .city-selector {
    & > a {
      transition: all 0.1s ease;
      &:hover {
        color: #0dac49;
        &:after {
          color: #0dac49;
        }
      }
    }
    &.open {
      & > a {
        &:after {
          transform: translateY(-50%) rotateX(-180deg);
        }
      }
    }
    .dropdown-list {
      top: calc( 100% - 5px );
      left: -11px;
      height: 116px;
      overflow: auto;
      padding-top: 5px;
      padding-bottom: 5px;
      ul {
        width: 140px;
        padding: 3px 0 5px 8px;
        a {
          height: 25px;
          text-decoration: none;
          text-transform: none;
        }
      }
      .mCSB_inside>.mCSB_container {
        margin-right: 0;
      }
      .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
        width: 3px;
      }
      .mCSB_scrollTools {
        right: 0;
      }
      .mCSB_scrollTools .mCSB_draggerRail {
        width: 3px;
      }
    }
  }

  .lang-selector {
    & > a {
      transition: all 0.1s ease;
      &:hover {
        color: #0dac49;
        &:after {
          color: #0dac49;
        }
      }
    }
    .dropdown-list {
      top: 9px;
      left: -8px;
      ul {
        width: 50px;
        padding: 2px 0 4px 0px;
      }
      .selected {
        a {
          position: relative;
          &:after {
            content: "\f106";
            font-family: FontAwesome;
            position: absolute;
            right: 7px;
            top: 3px;
          }
        }
      }
      a {
        text-decoration: none;
        height: 18px;
        padding-left: 8px;
      }
    }
  }

  .profile {
    display: flex;
    align-items: center;
    .fa {
      color: #0DAC49;
      margin-right: 6px;
    }
  }
  .middle-stripe {
    height: 95px;
    padding: 25px 0;
  }
  .logo {
    align-items: center;
    display: flex;
    width: 192px;
    margin-right: 42px;
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
  .search-input {
    border: 1px solid #b6b4b6;
    display: block;
    width: 380px;
    height: 45px;
    border-radius: 22px;
    padding-left: 19px;
    font-family: 'Open Sans', sans-serif;
    outline: none;
    color: #747474;
    font-size: 13px;
    &::placeholder {
      color: #747474;
      font-size: 13px;
    }
  }
  .search-wrap {
    position: relative;
    margin-right: 39px;
    button {
      width: 16px;
      height: 16px;
      background-color: transparent;
      background-image: url('../img/icons/search.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      border: none;
      font-size: 0;
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .request-call {
    margin-right: 52px;
    a {
      display: block;
      text-decoration: none;
    }
    .tel {
      font-size: 18px;
      color: #252525;
      font-weight: 700;
      margin-bottom: -3px;
    }
    .js-req-call {
      color: #0dac49;
      font-size: 13px;
      display: inline-block;
      border-bottom: 1px dashed #0dac49;
      transition: all 0.15s ease-out;
      &:hover {
        border-bottom: 1px dashed transparent;
      }
    }
  }
  .wishlist {
    display: flex;
    align-items: center;
    color: #252525;
    font-size: 13px;
    margin-right: 31px;
    .ico {
      width: 32px;
      height: 28px;
      margin-right: 4px;
    }
  }
  .basket {
    display: flex;
    align-items: center;
    color: #252525;
    font-size: 13px;
    margin-right: 30px;
    .ico {
      width: 28px;
      height: 33px;
      margin-right: 4px;
    }
  }

  .dressing-room {
    display: flex;
    align-items: center;
    .ico {
      height: 38px;
      width: 24px;
      margin-right: 9px;
      img {
        display: block;
        width: 100%;
      }
    }
    .count-wrap {
      color: #252525;
    }
    .tit {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 13px;
    }
    .foc {
      font-size: 12px;
      position: relative;
      top: -2px;
      a {
        color: #0dac49;
        cursor: pointer;
        text-decoration: none;
        font-size: 12px;
      }
    }
  }
  .bot-stripe {
    background: #FFFFFF;
    border-top: 1px solid #EBEEF0;
    .menu {
      display: flex;
      justify-content: space-between;
      width: 100%;
      list-style: none;
      margin: 0;
      padding: 0;
      & > li {
        height: 54px;
        display: flex;
        align-items: center;
        & > a {
          color: #252525;
          font-size: 13px;
          letter-spacing: 0.7px;
          font-weight: 700;
          text-transform: uppercase;
          text-decoration: none;
          transition: all 0.15s ease-out;
          &:hover {
            color: #0dac49;
          }
        }
      }
    }
  }
}